[2018-08-30 02:13] kazishariar opened #1 "ImportError: cannot import name 'get_installed_distributions'"
Error: pipupgrade
Traceback (most recent call last):
  File "/usr/local/bin/pipupgrade", line 7, in <module>
    from pipupgrade.__main__ import main
  File "/usr/local/lib/python3.6/site-packages/pipupgrade/__main__.py", line 5, in <module>
    from pipupgrade.commands import command as main
  File "/usr/local/lib/python3.6/site-packages/pipupgrade/commands/__init__.py", line 4, in <module>
    f

[2018-08-30 02:32] achillesrasquinha commented on #1
pip version?

[2018-08-30 02:34] kazishariar commented on #1
Pipv.10, osx

[2018-08-30 04:44] achillesrasquinha commented on #1
Hi @kazishariar, had it fixed and released for 0.1.1. Please update

[code]

Let me know if it persists!

[2018-08-30 16:50] kazishariar commented on #1
This is related^^

[2018-08-30 17:52] achillesrasquinha commented on #1
@kshntn @kazishariar Looks more like 2.7 issue for me rn. I'll confirm when I have this fixed.

[2018-08-30 20:15] achillesrasquinha commented on #1
Hi @kshntn @kazishariar

Had some fixes released for 0.2.0. Let me know if that fixes for y'all both. Again, to update:

[code]

[2018-08-31 02:47] kazishariar commented on #1
Fixed.

[2018-08-31 11:36] kshntn commented on #1
Hi,
still not working for me
Do you wish to update 116 packages? [Y/n]: y
Traceback (most recent call last):
  File "/usr/local/bin/pipupgrade", line 11, in <module>
    load_entry_point('pipupgrade==0.2.0', 'console_scripts', 'pipupgrade')()
  File "/usr/local/lib/python2.7/dist-packages/pipupgrade/commands/__init__.py", line 16, in command
    if args.yes or cli.confirm(query):
  File "/usr/loca

[2018-08-31 23:13] achillesrasquinha commented on #1
Hi @kshntn, what Python version are you using? I am unable to replicate your issue.

[2018-09-04 03:00] achillesrasquinha commented on #1
@kshntn Fixed with 0.2.3! Sorry about this.

Let me know after upgrading if it works for you. Let's close this issue once done.

[2018-09-04 14:10] kshntn commented on #1
It worked..  but no files got updated..
I got below error
Could not install packages due to an EnvironmentError: [Errno 2] No such file or directory: '/tmp/pip-req-tracker-aqEMW_/59731abbf87b764da5ecee3dadde740b1fba2edd1fc12ce52e415788'

[2018-09-06 18:59] achillesrasquinha commented on #1
Closing this due to inactivity.

[2018-09-06 19:09] kshntn commented on #1
Hii.. I am sorry.. missed the mail.. It working now!!

[2018-12-09 17:05] alejandropages opened #4 "'--user' flag and sudo with pipupgrade"
I tried to use pipupgrade but got an error saying I was required to use the --user flag due to restricted permissions.
I tried using sudo, but got an error message saying command was not found with sudo (Obviously some other issue there).

I could not recreate the error but will update if I get it again. In either case it would be cool to be able to add some pip arguments when running pipupgrade.

[2018-12-10 02:03] achillesrasquinha commented on #4
Thanks, PR #3 pending.

[2018-12-23 02:51] achillesrasquinha commented on #4
This has been fixed and expected to release for `0.3.0`!

[2018-12-23 03:56] achillesrasquinha commented on #4
1.0.0 has been released, please upgrade and close if issue doesn't persist.

To upgrade
[code]

[2018-12-27 02:17] achillesrasquinha opened #5 "Display Version compatible with the current Python Version"

[2019-01-03 00:11] achillesrasquinha opened #6 "Create appveyor.yml for a Windows CI"
Or use Azure Pipelines?

[2019-01-03 00:12] achillesrasquinha opened #7 "Setup travis.yml for auto-release to pip"

[2019-01-03 21:37] achillesrasquinha commented on #7
Done!

[2019-01-03 21:45] achillesrasquinha opened #8 "Create pre-commit hooks"

[2019-01-03 23:55] achillesrasquinha commented on #8
Should run `npx semantic-release --dry run`

[2019-01-16 23:07] achillesrasquinha opened #9 "Add interactive mode"

[2019-01-16 23:07] achillesrasquinha commented on #8
Closing this, please refer git.io/boilpy instead.

[2019-01-19 13:07] lutzbuerkle opened #10 "NotImplementedError: Unknown difference between 1.16.0+mkl and 1.16.0"

[2019-01-22 02:01] achillesrasquinha commented on #10
Hi @lutzbuerkle! Could you please elaborate on what were you trying to achieve?

[2019-01-22 07:46] achillesrasquinha commented on #5
Should use `pip outdated --format=json` but what about latest?

[2019-01-22 19:00] lutzbuerkle commented on #10
On my system I have Numpy+MKL 1.16.0 (i.e. Numpy linked to Intel Math Kernel Library) installed, which is the current version. When I run pipupgrade --check I get the above error

[2019-01-26 19:15] achillesrasquinha commented on #10
Hello, thanks for letting me know. I shall diagnose the issue and respond at the earliest.

[2019-01-27 19:03] achillesrasquinha commented on #9
Deployed, 1.3.0!

[2019-01-27 19:04] achillesrasquinha opened #11 "Automatic pipupgrade with CI"

[2019-01-27 19:08] achillesrasquinha commented on #11
Something in the lines of ci-yarn-upgrade. Should be within pipupgrade. Ensure zero dependencies!

[2019-01-28 07:00] achillesrasquinha opened #12 "Support Pipfile"

[2019-01-28 16:24] slw07g opened #13 "Don't assume "pip" needs to be ran"
https://github.com/achillesrasquinha/pipupgrade/blob/173ff918cb190306b57a4ade03110e2d04df46a6/src/pipupgrade/_pip.py#L31

Some users have multiple versions of Python installed (and thus multiple versions of pip). Allow a command-line option where users may specify whether they are using pip3 (or even an absolute path to the "pip" they want to run).

[2019-01-29 01:54] achillesrasquinha commented on #13
True! I'll send in a fix for this soon.

[2019-01-29 02:03] achillesrasquinha commented on #13
Surely using `_pip.main` here is an alternative. Open for discussion!

[2019-01-29 02:07] achillesrasquinha commented on #13
I do agree that using the params' is foolish.

[2019-02-07 04:00] achillesrasquinha commented on #13
Hi @slw07g

Has been released for `1.4.0`.
To upgrade `pipupgrade` use `pipupgrade --self`, then you should be able to use `pipupgrade --pip-path PATH_TO_PIP`

[2019-02-07 04:03] achillesrasquinha commented on #13
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on [GitHub release](https://github.com/achillesrasquinha/pipupgrade/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-10 18:21] achillesrasquinha opened #18 "Plugin-based Architecture to create Pull Requests for any platform"
Should Support GitLab, GitHub, BitBucket, etc.

Create a `.pipupgraderc` file to define plugins maybe?

[2019-02-10 18:22] achillesrasquinha opened #19 "Improve argparse command structure"

[2019-02-15 01:50] alejandropages opened #20 "Pipupgrade did not update pip prior to updating other packages"
I ran pipupgrade today and it updated several packages before updating pip itself. I reran pipupgrade to see if that would have affected the final result and it did have re-update a package. I'm sorry, again I don't have the output.

[2019-02-15 02:57] achillesrasquinha commented on #20
@alpacapages I'm not sure I understand. Are you saying it should have updated `pip` at first?

[2019-02-15 02:57] achillesrasquinha commented on #20
One thing's being true is that `pipupgrade` should be capable of updating `pip` too!

[2019-02-15 03:26] alpacapages commented on #20
I thought pip had to be updated to get access to the latest packages

________________________________
From: Achilles Rasquinha <notifications@github.com>
Sent: Thursday, February 14, 2019 8:57 PM
To: achillesrasquinha/pipupgrade
Cc: Alejandro Pages; Mention
Subject: Re: [achillesrasquinha/pipupgrade] Pipupgrade did not update pip prior to updating other packages (#20)

@alpacapages<https://github

[2019-02-15 03:40] alpacapages commented on #20
The reason I'm mentioning it is because I ran it a second time and it had to update another package. I figured that maybe it wasn't aware of that package until after it upgraded pip?

________________________________
From: Alejandro Pages
Sent: Thursday, February 14, 2019 9:25 PM
To: achillesrasquinha/pipupgrade
Subject: Re: [achillesrasquinha/pipupgrade] Pipupgrade did not update pip prior to upd

[2019-02-15 07:21] achillesrasquinha commented on #20
Did you happen to use the `--latest` flag? Im guessing the one you were trying to update was a breaking change (highlights in red). Packages that break changes aren't updated natively unless you specify the mentioned flag.

[2019-02-15 17:49] achillesrasquinha opened #22 "Dependency Resolver for pipupgrade"
Make sure you're updating packages that not only follows semantic-versioning but also installs limited to the dependency graph.

[2019-02-15 18:00] achillesrasquinha opened #23 "multiple pip_execs for discovering environement updates."

[2019-02-15 18:00] achillesrasquinha opened #24 "parallel updates"

[2019-02-16 00:31] achillesrasquinha commented on #13
Hi @slw07g, this also seems to enhance #23

[2019-02-18 23:40] espressobeanies opened #25 "Issue with new --user flag"
It seems since the addition of the new '--user' flag, pipupgrade seems to break when it goes to upgrade existing packages.

[2019-02-19 13:49] achillesrasquinha commented on #25
Hi @espressobeanies, any trace back would be really helpful!

[2019-02-24 05:54] espressobeanies commented on #25
Please see below:

[code]

[2019-03-06 04:39] espressobeanies commented on #25
This issue seems to go away if you manually upgrade PIP to 19.03 and install the following dependencies:
libffi-devel, pcre2-devel, openssl-devel, krb5-devel
Also, the 'cffi' package needs to be installed and fixed for everything else to work. In the end it's about tracebacking the python error messages, not looking at a `--user` option.

[2019-05-06 02:26] moba opened #26 "Skip distutils installed packages?"
When I run pipupgrade to upgrade system packages, the first package that comes from my distribution (Debian) breaks the process. Pipupgrade does not skip it and continue, it instead exits, and don't see any option to ignore such packages.

[code]

[2019-05-11 12:38] dschuessler opened #27 "Crashes on invocation"
[code]

Also happens with no flags and `--latest --yes`

macOS 10.14.4
Python 3.7.3
pip 19.0.3

[2019-05-13 14:06] micgro42 commented on #27
I have that problem on Ubuntu as well:
[code]
Ubuntu 4.15.0-43-generic
Python 2.7.15rc1
pip 9.0.1 from /usr/lib/python2.7/dist-packages (python 2.7)

[2019-05-13 22:20] binarykitchen commented on #27
Same problem here. Happened right after I switched from python v3.7.2 to v3.7.3 using pyenv.

[2019-05-15 16:23] achillesrasquinha commented on #27
Hi everyone, thank you for tracking this issue down. I'll respond at the earliest!

[2019-05-15 16:31] achillesrasquinha commented on #27
`pipupgrade` version?

[2019-05-15 16:34] dschuessler commented on #27
1.5.0

[2019-05-15 16:43] achillesrasquinha commented on #27
Can you try adding a pip-path as your option and does that work?

[code]

[2019-05-15 16:48] dschuessler commented on #27
I think so:

[code]

[2019-05-15 16:51] achillesrasquinha commented on #27
The expected behaviour is pipupgrade detects pip executables for you and attempts to upgrade all packages within their corresponding environments. This behaviour can be overridden using the `--pip-path` option. However, I'm guessing that `pipupgrade` wasn't able to detect a valid `pip` executable for you. Hence, `None list --outdated --format json`.

I'll take a look into it and dispatch a fix as

[2019-05-15 16:53] achillesrasquinha commented on #27
@slw07g recommended this earlier at #13

[2019-05-15 18:12] Jylpah opened #28 "WIN10 Error"
Hi, I just installed pipupgrade and tried running it on Win10 / Python 3.7.3. I have one dependency package that is too new to satisfy the requirements for another package. I did not start to debug this.

[code]

[2019-05-15 22:14] ryanpcmcquen opened #29 "pipupgrade fails unless `requests` is installed globally."
[code]

This should be mentioned on the README, or, even better, pulled in on a fresh install.

[2019-05-16 14:30] achillesrasquinha commented on #29
@ryanpcmcquen, pipupgrade uses the native urllib, in case request isn't found. This seems to be more of an issue of raising a `ModuleNotFoundError` over `ImportError`. Will dispatch a fix soon.

[2019-05-16 14:32] achillesrasquinha commented on #28
Hi @Jylpah, I'll have a fix dispatched for this soon. There's currently a workaround for this mentioned at #27

[2019-05-16 14:34] achillesrasquinha commented on #28
Hi @Jylpah, I'll have a fix dispatched for this soon. There's currently a workaround for this mentioned at #27

[2019-05-16 17:16] ryanpcmcquen commented on #29
Good to know, it wouldn't run for me though until I installed `requests`.

[2019-05-29 21:41] binarykitchen commented on #29
It's been a while. Any news on this?

[2019-06-06 08:27] achillesrasquinha commented on #29
Has been fixed, pending for release!

[2019-06-06 08:27] achillesrasquinha commented on #28
@Jylpah This has been fixed, pending for release. Please update using `pipupgrade --self` and try again.

[2019-06-06 08:28] achillesrasquinha commented on #27
This has been fixed. Pending for release. Please use `pipupgrade --self` and try again.

[2019-06-06 08:49] achillesrasquinha commented on #27
Released with 1.5.1

[2019-06-06 08:49] achillesrasquinha commented on #28
Released with 1.5.1

[2019-06-06 08:50] achillesrasquinha commented on #26
Try updating using `pipupgrade --self` and let me know if that helps!

[2019-06-06 08:56] achillesrasquinha opened #30 "Stuck at "Checking..." forever"
`pipupgrade` uses `pip` to check for outdated packages (`pip list --outdated`) to be precise. This causes `pip` to enter into an infinite loop for some reason ([pip issue](https://github.com/pypa/pip/issues/3532)).

If you're on macOS, try deleting the pip cache.

[code]

else

[code]

[2019-06-06 17:44] achillesrasquinha commented on #27
`$ pipupgrade --version`?

[2019-06-06 18:01] dschuessler commented on #27
[code]

[2019-06-06 19:45] achillesrasquinha commented on #27
Can you try it now? `pipupgrade --self`

[2019-06-06 19:54] dschuessler commented on #27
It’s still the same.

[2019-06-07 22:15] achillesrasquinha commented on #20
This behaviour shouldn't be expected. Internally, `pipupgrade` uses `pip` for updating and updating `pip` prior can potentially break `pipupgrade`.

`pipupgrade` does update `pip` though.

[2019-06-07 22:15] achillesrasquinha commented on #28
Closing this. Kindly reopen if persists.

[2019-06-09 13:05] PalmtopTiger opened #31 "os.EX_OK and os.EX_NOINPUT constants are not available on Windows"
[code]

Docs: https://docs.python.org/3/library/os.html#os.EX_OK

[2019-06-09 19:00] achillesrasquinha commented on #31
Fixed. Pending for release!

[2019-06-10 04:14] PalmtopTiger commented on #31
Thank you. os.EX_NOINPUT is also [unavailable](https://docs.python.org/3/library/os.html#os.EX_NOINPUT) on Windows. Used [here](https://github.com/achillesrasquinha/pipupgrade/blob/2f244c9beb44b67ddf69a9cafcedc282ae8c1357/src/pipupgrade/commands/__init__.py#L157) and [here](https://github.com/achillesrasquinha/pipupgrade/blob/2f244c9beb44b67ddf69a9cafcedc282ae8c1357/src/pipupgrade/commands/__init_

[2019-06-18 16:31] achillesrasquinha commented on #27
@dschuessler

Could you update it manually otherwise

[code]

[2019-06-18 19:07] dschuessler commented on #27
It is working now. 👍

[2019-06-19 19:12] achillesrasquinha commented on #27
Great! Please repopen if persits.

[2019-06-28 11:44] ndclt opened #32 "NameError on python3.5"
When launching pipupgrade (on version 1.5.1) on python 3.5, during the import, I have an error with the following stacktrace:
[code]

I look in the code associated to the version 1.5.1, I cannot found this line ([_compat.py](https://github.com/achillesrasquinha/pipupgrade/blob/e69dbb954b33dc89146326d0241779cff1bdbc3c/src/pipupgrade/_compat.py))

I workaround this by using the version 1.5.0.

[2019-06-28 12:04] ndclt commented on #32
When installing `pipupgrade` from the tagged commit (e69dbb954b33dc89146326d0241779cff1bdbc3c), I don't have the matter. Maybe the code pushed on pypi is not the correct commit?

[2019-06-28 15:20] wolfembers opened #33 "The lists do not look right"
![Myc6rbC](https://user-images.githubusercontent.com/35852011/60352811-a7bf7f80-9996-11e9-9cd7-f1f36d88334f.png)

I think the preview bit might be a big bugged.

[2019-06-28 18:34] achillesrasquinha commented on #33
Windows?

[2019-06-28 18:36] achillesrasquinha commented on #32
This seems to be fixed on master. https://github.com/achillesrasquinha/pipupgrade/blob/master/src/pipupgrade/_compat.py#L44

[2019-06-28 18:41] ndclt commented on #32
Perfect, thanks. Can you publish a new patch version?

[2019-06-28 19:48] wolfembers commented on #33
Yes this is on windows.

[2019-07-08 14:21] caniko2 opened #34 "Windows subsystem: Ubuntu error when "pipupgrade --latest --yes""
Printout:
[code]

[2019-07-08 15:02] caniko2 commented on #34
There was

[2019-07-08 15:03] caniko2 commented on #34
I think the issue is that there is nothing to update. Maybe make an exception handler for this?

[2019-07-16 18:19] achillesrasquinha commented on #34
`pip` version?

[2019-07-21 11:17] cocoonkid commented on #34
I have a similar issue:

pipupgrade
Checking...
Traceback (most recent call last):
File "/Users/cocoonkid/.pyenv/versions/3.7.1/bin/pipupgrade", line 10, in
sys.exit(main())
File "/Users/cocoonkid/.pyenv/versions/3.7.1/lib/python3.7/site-packages/pipupgrade/cli/init.py", line 14, in wrapper
return fn(**params)
File "/Users/cocoonkid/.pyenv/versions/3.7.1/lib/python3.7/site-packages/pipupgrade/comm

[2019-08-06 06:53] Xarkam opened #35 "Cannot support spaces in path"
Hello, I see, pipupgrade cannot run in windows if the path contain spaces:
[code]
the command `pip.exe list` run perfect:
[code]

Python version: 3.7.4 x64
Pip version: 19.2.1
pipupgrade version: latest.
![image](https://user-images.githubusercontent.com/331816/62517419-a8fe8a80-b827-11e9-97c2-09199108b108.png)

[2019-08-15 16:15] jocago opened #36 "returned non-zero exit status 1"
Ran pipupgrade --latest

Python 3.6 on macOS 10.14.6 (18G87)

Traceback (most recent call last):
  File "/anaconda3/bin/pipupgrade", line 10, in <module>
    sys.exit(main())
  File "/anaconda3/lib/python3.6/site-packages/pipupgrade/cli/__init__.py", line 14, in wrapper
    return fn(**params)
  File "/anaconda3/lib/python3.6/site-packages/pipupgrade/commands/__init__.py", line 260, in command

[2019-08-29 00:16] netotz commented on #36
Same for Windows 10, python 3 64 bits
[code]

[2019-08-29 17:58] FeralBytes commented on #26
Still an issue.

[2019-09-01 14:09] nk9 commented on #36
Similar issue for me. MacOS 10.14.6. It started out OK, but then died when trying to update GDAL.

[code]

[2019-09-06 07:58] espressobeanies commented on #26
Yea, I confirmed this behavior. Very annoying when you're working with either `beautifulsoup4` or `numpy` python packages.

[2019-09-09 04:11] rendicahya opened #38 "Color problem"
The colored output doesn't work right on Microsoft 10's command prompt. I suggest removing the color formatting.
![image](https://user-images.githubusercontent.com/693535/64502820-7a764280-d2f2-11e9-9fd6-7ee09cc257f2.png)

[2019-09-11 17:56] CMiksche commented on #32
This error still exists. Installed the package today:
[code]

[2019-09-16 06:25] achillesrasquinha commented on #33
@wolfembers It's fixed with 1.5.2. To upgrade, simply `pipupgrade --self`

[2019-09-16 06:26] achillesrasquinha commented on #38
It's been fixed with 1.5.2

[2019-09-16 06:29] achillesrasquinha commented on #24
Released!

[2019-09-16 06:30] achillesrasquinha commented on #32
@CMiksche could you try version 1.5.2? Use `pipupgrade --self` to update pipupgrade.

[2019-09-16 12:20] CMiksche commented on #32
I have tried it, same error:

[code]

[2019-09-26 19:59] dusty-dusty opened #39 "Cant run pipupgrade. ModuleNotFoundError: No module named 'ctypes.windll'"
ModuleNotFoundError: No module named 'ctypes.windll'

Traceback (most recent call last):
  File "c:\program files\python37\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "c:\program files\python37\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Program Files\Python37\Scripts\pipupgrade.exe\__main__.py", line 5, in <module>
  File "c:\pr

[2019-09-26 20:00] dusty-dusty commented on #39
pip 19.2.3 from c:\program files\python37\lib\site-packages\pip (python 3.7

[2019-09-26 20:02] dusty-dusty commented on #39
Package     Version
----------- -------
keyboard    0.13.4
mouse       0.7.0
mss         4.0.3
numpy       1.17.2
Pillow      6.1.0
pip         19.2.3
pipupgrade  1.5.2
setuptools  39.0.1
tokenize-rt 3.2.0

[2019-09-28 20:05] dusty-dusty commented on #39
python 3.7.4

[2019-10-04 17:02] ryanpcmcquen opened #40 "Cannot upgrade packages on Mac OS 10.14.x"
[code]

[2019-10-12 16:53] bromix commented on #39
same here

[2019-10-19 22:26] JayRizzo commented on #40
# Working Theory
To Iterate as a short version of my items listed below:

### Tried:
- Last 3 versions of pipupgrade
- ignoring python2 when viewing pipupgrade
- following down the error

This is an issue for the last 3 versions of pipupgrade for `mac OSX Mojave 10.14.6`.

Even when I ignore pip2 upgrades (on all of last 3 `pipupgrade` versions) I still get an `--user` error and some upgrades retu

[2019-10-25 18:10] danieldjewell opened #41 "[android] posix semaphores unavailable (pipupgrade crashes)"
[tmuxpython]: https://github.com/termux/termux-packages/blob/1e7716b18ce3394f2116e0e1541a291cfd5278f5/packages/python/build.sh#L24-L25
[python3770]: https://bugs.python.org/issue3770
[python33725]: https://bugs.python.org/issue33725

Hello!

### Summary

It looks like pipupgrade will not run on Android (at all?) as POSIX semaphores are not enabled (I haven't tested *all* Android versions/device co

[2019-10-25 18:22] danieldjewell commented on #41
FWIW, I just checked out tag v1.5.1 (commit e69dbb9) (before the af4baec commit) -- and it seems to work beautifully. Perhaps a fallback option to the old way if `multiprocessing.Pool()` throws an error?

[2019-10-25 20:01] tranzystorek-io opened #42 "Support upgrading only user-site packages"
I would like to use pipupgrade to upgrade all user site packages (as listed by `pip list --user`).

Currently it does not seem possible according to the manual.

[2019-10-27 10:58] HimbeersaftLP commented on #39
Can confirm

[2019-10-27 13:51] pradyunsg commented on #30
This should've been fixed in newer releases of pip. We've switched to doing things differently w.r.t. this cache management.

[2019-11-03 18:37] logonoff commented on #39
this fixes the issue: comment out or delete
[code]
in `python37\lib\site-packages\pipupgrade\cli\util.py`

[2019-11-04 20:52] achillesrasquinha opened #43 "Add ISSUE and PR template."

[2019-11-04 20:55] achillesrasquinha commented on #43
Fix #44

[2019-11-05 17:02] achillesrasquinha opened #45 "Add option to update pip before execution."

[2019-11-07 19:50] metya opened #46 "don't install or upgrade from requirements file"
Hello!

When I try to install packages from requirements file nothing happens, but in verbose mode, logger writes that the command not found.

for example:
[code]

System: Linux, Manjaro.

and pipupgrade not handle
`-e git+http://github.com/somerepos/` and just `git+http://github.com/someanotherrepo` in a requirements file

[2019-11-08 14:05] dreamflasher commented on #36
Ubuntu 19.04, with pip3 in anaconda.

[code]

This should be improved in the following way:
* provide the actual error
* don't fail on upgrade error, but continue with the next package

[2019-11-13 22:12] francesco1119 opened #47 "pipupgrade: command not found"
That is bizarre: I installed pipupgrade right now, pipupgrade is installed but is not recognized:

![2019-11-13 23_11_23-Window](https://user-images.githubusercontent.com/3397477/68808882-fbdbaf80-066a-11ea-9517-1f7ad43ad676.png)

[2019-11-17 01:12] karserasl commented on #39
My understanding is that you can't import ctypes.windll.
You import ctypes and then just use the ctypes.windll
In util.py, Import ctypes and replace
`kernel32 = import_handler("ctypes.windll.kernel32")`
with `kernel32 = ctypes.windll.kernel32`

Atleast it works like this.
(Sorry still a beginner)

[2019-11-19 15:23] ondrovic commented on #47
I have the same issue using on ubuntu WSL for windows 10

[2019-11-20 06:37] francesco1119 commented on #47
Alright, something has changed on WSL2.
I followed [this guide]( https://scotch.io/bar-talk/trying-the-new-wsl-2-its-fast-windows-subsystem-for-linux) and I installed WSL2 (Debian).
I now receive a different error:

[code]

[2019-12-09 05:38] atanasj commented on #40
I am getting this error too:

[code]
Looking forward to a resolution.

[2019-12-18 14:31] herrnici commented on #36
@jocago, I suggest adding this to the issue text. This is the desired behaviour. A switch `--skip-failures` is not needed since the current behaviour (upgrade the packages that happen to be treated before the problematic one, but not the ones after) can be assumed to never be useful or currently relied on.

[2019-12-19 07:47] hhanesand opened #48 "sqlite3 error on `pipupgrade --latest`"
Ran `pipupgrade --latest` after installing :

[code]

[code]

Only failed once. Worked on second attempt.

[2019-12-22 13:21] uhlhosting commented on #40
[code]

[2019-12-29 02:10] roydenyates commented on #26
root@bohyat14:~# pip list --outdated

Package |  Version | Latest  | Type
--------- | --------- | --------- | ----------
ConfigArgParse  |  0.13.0 |  0.15.2 |  sdist
decorator |  4.3.0  |  4.4.1  |  wheel
distro  |  1.3.0  |  1.4.0  |  wheel

the sdist type will fail updating, and if pip-review could present the type info, one could at least answer "n" in interactive mode.

[2019-12-31 03:20] achillesrasquinha commented on #42
`pipupgrade --user`

[2019-12-31 18:16] #13 closed

[2019-12-31 18:17] #1 closed

[2019-12-31 18:17] #4 closed

[2019-12-31 18:18] #9 closed

[2019-12-31 18:18] #12 closed

[2019-12-31 18:19] #20 closed

[2019-12-31 18:20] #30 closed

[2019-12-31 18:22] #23 closed

[2019-12-31 18:22] #24 closed

[2019-12-31 18:36] achillesrasquinha opened #49 "Support Environment Variables"

[2019-12-31 19:24] #42 closed

[2019-12-31 21:06] achillesrasquinha opened #50 "Display Dependency Tree and other formats (JSON, YAML)"

[2020-01-03 04:00] #49 closed

[2020-01-03 04:59] #50 closed

[2020-01-03 17:23] #45 closed

[2020-01-03 17:23] #5 closed

[2020-01-03 17:24] #8 closed

[2020-01-03 20:06] achillesrasquinha opened #51 "Add Configuration File"

[2020-01-03 20:06] #31 closed

[2020-01-06 11:22] niccottrell commented on #36
I'm running pipupgrade 1.5.2 and get a similar error:

[code]

[2020-01-07 01:45] achillesrasquinha opened #53 "Parallel Update Registry breaks"

[2020-01-07 01:45] achillesrasquinha opened #54 "Ignore Error in case of upgrade"

[2020-01-07 01:52] achillesrasquinha commented on #32
Fixed with `1.6.2`!

Use the following command to upgrade `pipupgrade`
`pipupgrade --self`

[2020-01-07 01:52] #32 closed

[2020-01-07 01:53] #29 closed

[2020-01-07 05:25] wilcoxon opened #55 "pipupgrade 1.6.2 has AssertionError on Windows"
I just upgraded pipupgrade to 1.6.2 on Windows 10 (64-bit) running Python 3.8.  Issue #39 is still present (fortunately somebody gave how to fix that one).  In addition, I now get "AssertionError: group argument must be None for now".  From what I can find, this is most likely around parallel/threading but I'm new enough to Python that I can't figure out exactly which call is producing the error.

[2020-01-07 06:01] achillesrasquinha commented on #55
I just created a fix in `pipupgrade 1.6.4`. Thanks for posting this error. Could you verify and close once this is fixed?

To upgrade

[code]

[2020-01-07 06:01] achillesrasquinha commented on #39
This has been fixed in `1.6.4`

[2020-01-07 06:22] #6 closed

[2020-01-07 06:22] #7 closed

[2020-01-07 06:22] #28 closed

[2020-01-07 06:23] achillesrasquinha commented on #34
Hi guys, does this issue still exist with latest version 1.6.5?

[2020-01-07 06:23] #33 closed

[2020-01-07 06:23] #39 closed

[2020-01-07 06:28] wilcoxon commented on #55
That was a fast fix.  Thanks.

[2020-01-07 06:39] achillesrasquinha commented on #55
@wilcoxon could you also please confirm on some issues related to windows? i don't have a working windows machine for myself to have it tested.

[2020-01-07 06:44] wilcoxon commented on #55
Sure.  I'm heading to bed now and tomorrow is busy but I should be able to
verify them this week...

On Tue, Jan 7, 2020 at 12:39 AM Achilles Rasquinha <notifications@github.com>
wrote:

[2020-01-07 19:37] tibor commented on #34
Got a similar issue with the newest pipupgrade:

[code]

[2020-01-07 21:29] achillesrasquinha commented on #34
@tibor pip version?

[2020-01-07 22:59] tibor commented on #34
@achillesrasquinha pip 9.0.1 from /usr/lib/python3/dist-packages (python 3.6)

[2020-01-08 04:42] #27 closed

[2020-01-08 04:52] achillesrasquinha commented on #34
Hmm, does `pip list --format json` work for you?

[2020-01-08 04:54] achillesrasquinha commented on #34
I'm guessing `pip list --format json` wouldn't exist for your pip version.

[2020-01-08 04:56] achillesrasquinha commented on #46
Have you tried with the latest `pipupgrade` version 1.6.5? Also, I'm not sure as to how we must handle repositories that have git links within them.

[2020-01-08 04:57] #38 closed

[2020-01-08 05:22] achillesrasquinha commented on #30
@pradyunsg Thanks for the update! Would this project be helpful in anyway to the core `pip` package? Would be open to send in a PR if so.

[2020-01-08 05:24] achillesrasquinha commented on #22
Use a dependency resolution algorithm maybe?

[2020-01-08 05:25] achillesrasquinha commented on #20
This has been fixed. #45

[2020-01-08 05:30] achillesrasquinha commented on #10
@lutzbuerkle This might sound a bit late to address but how did you attempt to install this package?

[2020-01-08 05:31] #25 closed

[2020-01-08 08:54] tibor commented on #34
`pip list --format json` doesn’t work, but `pip3 list --format json` works as expected

[2020-01-08 18:42] achillesrasquinha commented on #34
Hmm,

Could you provide me the output for `pip --version` and `pip3 --version`?

[2020-01-09 17:36] wilcoxon commented on #55
The only two windows issues I found were:
1) "space in path" which I can't check (easily) since I installed to the default location (eg no space)
2) WSL2 which I can't test since I have WSL1 (I believe WSL2 is still in beta)

[2020-01-09 17:37] wilcoxon commented on #55
If there are any that you'd like me to check specifically, just let me know...

[2020-01-10 23:39] achillesrasquinha commented on #46
Closing this due to inactivity. Try reinstalling the latest version and see if the issue persists, if so, reopen.

[2020-01-10 23:39] #46 closed

[2020-01-10 23:40] achillesrasquinha commented on #48
Could you try again with the latest version? If the error persists, please reopen.

[2020-01-10 23:40] #48 closed

[2020-01-13 07:13] #51 closed

[2020-01-13 11:28] tibor commented on #34
[code]

[code]

[2020-01-13 11:38] tibor commented on #34
Fixed this indeed by upgrading pip3 with
`sudo pip3 install --upgrade pip`

https://github.com/pypa/pip/issues/5429

[2020-01-13 17:25] metya commented on #46
ok. well I tried pipupgrade with the very new version, but without requirements.txt, just pipupgrade.

and that I do not like is when you upgrade all pips packages there are maybe some of them not possible to update, and pipupgrade fails with the whole update.

can you just implement flag something like --ignore_failed?

[2020-01-13 17:28] metya commented on #26
confirm the issue with the latest version

[2020-01-13 17:51] metya opened #56 "list of packages to update is not that right"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. pipupgrade just give me that list
![image](https://user-images.githubusercontent.com/968934/72278683-9776a580-3645-11ea-825a-3c1c05d36bfd.png)

2. For the first, there is something strange with versions of packages (the new is less than installed)
3. If I check with pip it

[2020-01-13 21:15] binarykitchen opened #57 "MemoryError"
On MacOS this command `pipupgrade -ly --no-cache-dir --pip-path pip` throws following error:

[code]

Using pipupgrade v1.6.6 here

[2020-01-14 04:15] achillesrasquinha commented on #56
This seems to look like a bug for sure. Which version of `pipupgrade`? Also, could you try attempting to use `pipupgrade --no-cache` and show me it's output?

[2020-01-14 10:57] metya commented on #56
version 1.6.6
with --no-cache flag seems the list of packages is right
![image](https://user-images.githubusercontent.com/968934/72338534-bd4b8b00-36d5-11ea-8b84-50cb2f0dc13f.png)

[2020-01-15 04:12] achillesrasquinha commented on #56
Seems like a cache invalidation issue, Lol. Will work on this asap.

[2020-01-15 04:59] achillesrasquinha commented on #34
@tibor Nice, You can also pass `--pip-path` using `pipupgrade` as follows

[code]

[2020-01-15 04:59] achillesrasquinha commented on #34
Closing this.

[2020-01-15 04:59] #34 closed

[2020-01-16 02:08] achillesrasquinha commented on #26
Released `1.6.7` with a new flag `--ignore-error` for this case.

[code]

Will attempt to install packages and silently fail in case of any error.

[2020-01-16 02:08] achillesrasquinha commented on #56
Fixed and released with `1.6.7`

[2020-01-16 02:08] achillesrasquinha commented on #56
Please confirm.

[2020-01-16 02:14] achillesrasquinha commented on #56
This release comes with a `config.ini` file that has `cache_timeout` set to 1 day (In order to fetch the latest versions from PyPI). You can tweak the same at `~/.pipupgrade/config.ini`

[2020-01-16 15:29] metya commented on #26
Now it's just failed with

`BrokenPipeError: [Errno 32] Broken pipe` on just `pipupgrade`
or with
`TypeError: can only concatenate str (not "datetime.timedelta") to str` with flag --ignore-error

[2020-01-16 15:31] metya commented on #56
I can't cause now pipupgrade just failed according to this issue #26

[2020-01-16 15:54] achillesrasquinha commented on #26
@metya Try `rm -rf ~/.pipupgrade` and try again?

[2020-01-16 16:03] metya commented on #26
nope. the same behaviour

[2020-01-16 16:15] achillesrasquinha commented on #26
Could you paste your log as follows?

[code]

[2020-01-16 16:54] metya commented on #26
<details>
    <summary>logs</summary>

    sudo pipupgrade --verbose
    [sudo] пароль для metya:
    2020-01-16 19:22:45,271 | INFO | Environment: {'python_version': '3.8.1', 'os': 'Linux-5.4.6-2-MANJARO-x86_64-with-glibc2.2.5'}
    2020-01-16 19:22:45,271 | INFO | Arguments Passed: {'packages': [], 'pip_path': None, 'requirements': None, 'pipfile': None, 'project': None, 'pull_request': False, '

[2020-01-17 16:07] achillesrasquinha commented on #26
@metya What's the output for the following?

[code]

[2020-01-17 16:19] #43 closed

[2020-01-17 20:23] achillesrasquinha commented on #41
Hi, sorry for this very late response but you're probably right in not using `multiprocessing.Pool` for a single job.

[2020-01-20 09:44] metya commented on #26
[code]

[2020-01-20 19:12] #54 closed

[2020-01-20 20:08] #53 closed

[2020-01-21 00:00] achillesrasquinha commented on #26
[code]

and try again?

[2020-01-21 15:49] metya commented on #26
sorry for silence
the same error.

[2020-01-21 16:12] achillesrasquinha commented on #26
Hi, @metya I'll dispatch a fix soon.

[2020-01-28 10:15] luisnabais commented on #57
I have the same issue:

# pipupgrade
Checking...
multiprocessing.pool.RemoteTraceback:
"""
multiprocessing.pool.RemoteTraceback:
"""
Traceback (most recent call last):
  File "/Users/luisnabais/.pyenv/versions/3.7.6/lib/python3.7/multiprocessing/pool.py", line 121, in worker
    result = (True, func(*args, **kwds))
  File "/Users/luisnabais/.pyenv/versions/3.7.6/lib/python3.7/site-packages/pipupgr

[2020-02-03 11:14] Waples opened #58 "Possible missing pip module."
#### What's the bug all about?

missing `pip._internal` module, pipupgrade not functioning.

#### What command led to this issue?

[code]

#### Logs

same issue as above.

[2020-02-03 11:30] Waples commented on #58
It seems the module parse_requirements has been moved/removed in my version (latest) of `pip`.

additional info:
[code]

[code]

[2020-02-03 11:39] Waples commented on #58
nevermind, seems I had an orphaned dir

[2020-02-03 11:39] #58 closed

[2020-02-04 19:41] carloshernandezcu opened #59 "pipupgrade: TypeError: unsupported operand type(s) for +: 'NoneType' and 'datetime.timedelta'"
pipupgrade won't work

[code]

[code]

[code]

Past month pipupgrade was working great. Now it isn't. Maybe the last update has a bug or I'm forgetting to do something?

[2020-02-05 18:15] Column01 opened #60 "Command returned non zero exit status since pip is not callable (LISTED POTENTIAL FIX)"
#### What's the bug all about?
When running any command that checks the pip packages, I get an error since when running the command `pip list --format json` it says the module pip is not callable.
This could be fixed by using this instead: `/usr/bin/python3 -m pip list --format json`

#### What command led to this issue?

*Please type the exact command that led to this issue.*

[code]

#### Logs

[2020-02-05 21:02] achillesrasquinha commented on #60
@Column01 What version of `pip3` are you using? Display it using `pip3 --version`

[2020-02-05 21:15] Column01 commented on #60
My apologizes, PIP decided to add a stupid directory to my path that overwrote the default pip one. Fixed it now :|

[2020-02-05 21:52] achillesrasquinha commented on #60
Does this mean it's working?

[2020-02-05 21:52] achillesrasquinha commented on #59
Hi Carlos! Could you please use the default `Bug` template that can help us diagnose the issue better?

BTW, can you try `rm -rf $(python -c "from pipupgrade.config import PATH;print(PATH['CACHE']);")`
and try running again

[2020-02-05 22:34] Column01 commented on #60
Actually, no it isn't. Though this was the problem but it isn't. Tried with 18.1 and now with the latest, same error but now it's saying pip2 which is using 18.1 still
[code]

[2020-02-05 22:38] Column01 commented on #60
I have a feeling this is a Rasbian issue. It appears to have two installs of python present. One in `/usr/` and one in `/home/pi/.local/`

Removing python 2.7 has fixed the issue, however.

[2020-02-06 05:06] achillesrasquinha commented on #19
I'm not very sure if there is a need for this as of now. Closing this.

[2020-02-06 05:06] #19 closed

[2020-02-06 05:44] achillesrasquinha commented on #22
Currently working on branch `pubgrub`

[2020-02-06 18:51] carloshernandezcu commented on #59
Hi Achilles, thanks for your quick response.  In this message I'm using the bug template:

#### What's the bug all about?

Past month the pipupgrade tool was working great. Today I try to update pip packages with a cli command and won't work. Some error are shown.

#### What command led to this issue?

[code]

#### Logs

*Please paste the logs using `pipupgrade --verbose`*

[code]

I tried with yo

[2020-02-08 20:49] Column01 commented on #60
hard to track down... I've had another error happen and I forgot to report it since it was late. Will try to reproduce it

[2020-02-13 18:31] achillesrasquinha commented on #59
@carloshernandezcu could you please upgrade to `1.6.8` using `pipupgrade --self` and try again?

or simply `pip install --upgrade pipupgrade`

[2020-02-13 18:32] achillesrasquinha commented on #26
Hi @metya could you please try with `1.6.8.`?

[2020-02-13 18:33] achillesrasquinha commented on #57
Hi @binarykitchen @luisnabais

Appreciate you reporting this issue. Could you please instead use the Bug Report format so that we're able to diagnose this issue better? Thanks!

[2020-02-13 23:20] carloshernandezcu commented on #59
Ok, the outputs from the commands are:

Upgrade with `$ pipupgrade --self`

[code]

Upgrade with `$ pip install --upgrade pipupgrade`

[code]

Trying to upgrades all the packages within the defined pip environment. `$ pipupgrade --check`

[code]

Please, check the results and let me know what could be that pipupgrade isn't working?

[2020-02-14 22:40] achillesrasquinha commented on #59
@carloshernandezcu Could you please display me your logs with `pipupgrade --verbose`?

[2020-02-14 22:56] carloshernandezcu commented on #59
Hi @achillesrasquinha, this is my log output from `pipupgrade --verbose` :

[code]

I appreciate your time to resolve this issue.

[2020-02-18 21:03] carloshernandezcu commented on #59
Hello! I downgrade the version to `1.6.7` and now pipupgrade is working again. For some reason `1.6.8` wasn't working on my computer (macOS Catalina). Thanks a lot for your support.

[2020-02-18 21:03] #59 closed

[2020-02-23 02:13] MithicSpirit opened #61 "y / yes flags do not function"
#### What's the bug all about?

Using the `-y` or `--yes` flags result in no packages being upgraded. I am running Ubuntu 18.04 in WSL and pip version 20.0.2 (python 3.6)

#### What command led to this issue?

[code]
(same issue if using `--yes` instead)

#### Logs

[code]

[2020-02-25 17:07] metya commented on #26
hello! sorry for the long answer.

uff. the same problem.

then I did even `sudo pip upgrade -c` nothing work.

<details>

[code]
</details>

I even reinstall pipupgrade from scratch.
and after that
`sudo pipupgrade` trace that

<details>

[code]
</details>

[2020-03-05 02:40] pgnd opened #62 "pipupgrade incorrectly detects two pyenv-installed pip bins ('pip' & 'pip3'), from *single* Python install env, as from separate 'installed distributions'"
i've installed python 3.8-dev via pyenv
[code]

for this installed env, pip & pip3 are identical
[code]

and function identically.

i.e., they're of the same 'installed distribution'.

i've pip-installed 'pipupgrade`
[code]

on exec, pipupgrade sees TWO 'installed distributions', one for _each_ of the two identical/redudndant pip/pip3 instances

e.g.,
[code]

an upgrade will attempt, incorrectly,

[2020-03-05 03:10] pgnd commented on #62
reading
[code]

to limit to one executable, setting
[code]

but exec still detects TWO pip instances
[code]

as does
[code]

[2020-03-07 20:45] MithicSpirit commented on #62
I believe that the `--pip-path` optional argument is not interchangeable with the `PIP-PATH` environment variable (though maybe it should?)

[code]

[2020-03-07 22:56] pgnd commented on #62
+1, thx 4 the ref

sure seems like it should -- as most of the OTHER opt args' values have env var equivalents ...

Still leaves the question -- should pipupgrade be 'smarter' in this case, where it's ONE installed distribution, with two differently-named, but otherwise identical,
[code]

pip instances?

[2020-03-17 23:56] binarykitchen opened #63 "Always complains about invalid config.ini"
#### What's the bug all about?

Each time I run `pipupgrade -ly --pip-path pip` it complains about invalid entries in `.pipupgrade/config.ini`

#### What command led to this issue?

[code]

#### Logs

[code]

[2020-03-18 16:58] E3V3A opened #64 "WARNING | Unable to fetch package name. disk I/O error"
Running this on Cygwin...

[code]

#### Logs

*Please paste the logs using `pipupgrade --verbose`*

[code]

[2020-03-18 17:29] E3V3A opened #65 "Confusion when pip is symlinked to pip3"
There seem to be a confusion when `pip` is symlinked to `pip3`.
*pipupdate* tries to treat these as 2 different installations or environments.

[2020-03-18 17:31] E3V3A opened #66 "Add color code scheme in README"
There is no explanation of what the different colors mean when you see the list.
I.e. Yellow, Green, Red, white...

How to update only one "color"??

[2020-03-19 14:30] achillesrasquinha commented on #65
Identical to #62. Closing, please continue a discussion there.

[2020-03-19 14:30] #65 closed

[2020-03-19 14:33] achillesrasquinha commented on #61
@MithicSpirit the `-y` flag is to avoid answering dialogs and would confirm for each dialog. Are you saying that the packages weren't upgraded because of `y` alone?

[2020-03-19 14:35] achillesrasquinha commented on #63
Seems like your configuration file is corrupted. Try deleting the cache

[code]

[2020-03-19 14:53] achillesrasquinha commented on #62
`pipupgrade` attempts to detect all possible `pip` executables within the current environment. [Link](https://github.com/achillesrasquinha/pipupgrade/blob/ea0c8be610220a90c557d27d9b50dc2a8b756873/src/pipupgrade/_pip.py#L34) to source. I do agree that `pipupgrade` could be smatter in knowing that the two `pip` exeuctables are very much the same but the issue being that they're NOT symlinked (unlike

[2020-03-19 17:26] pgnd commented on #62
@achillesrasquinha

it ain't pretty, but hash checking
[code]
is at least conclusive for a given venv

[2020-03-19 19:46] binarykitchen commented on #63
Done that but coming back. What is corrupting it?

[2020-03-19 21:40] E3V3A commented on #66
@achillesrasquinha
It's kind of hard to help when we don't know the meaning....

[2020-03-20 16:01] achillesrasquinha commented on #62
Not always true.

<img width="537" alt="Screenshot 2020-03-19 at 9 51 48 AM" src="https://user-images.githubusercontent.com/9742568/77181985-14852780-6a9a-11ea-819b-b7fb3e91e02a.png">

[2020-03-20 16:04] pgnd commented on #62
closing, why?

fixed elsewhere? or WONTFIX?

[2020-03-20 16:04] achillesrasquinha commented on #62
I could add the checksum.

[2020-03-20 16:07] pgnd commented on #62
that's confusing.  do you have both py v2 & v3 'pip' in your env, and perhaps pip is v*2*?

[2020-03-20 16:15] achillesrasquinha commented on #66
Hi @E3V3A - Green denotes a patch breaking change, Yellow denotes a minor breaking change and Red denotes a major upgrade as per detected semantic versions of the package (https://semver.org/).

By default `pipupgrade` doesn't upgrade "red" ones until you add a `--latest` flag. Very similar to how `yarn` does it.

[2020-03-20 16:16] achillesrasquinha commented on #66
An enhancement to this would be to upgrade only "desired" ones. In this case `major/minor/patch`

[2020-03-20 16:39] achillesrasquinha commented on #62
@pgnd the above solution seems limited to just `pyenv` environments.

[2020-03-20 16:52] pgnd commented on #62
ah, messy then ...

[2020-03-20 18:00] achillesrasquinha commented on #62
However, I'll consider symlinks in this case.

[2020-03-20 18:03] pgnd commented on #62
'do that voodoo that you do' !

[2020-03-20 18:15] achillesrasquinha commented on #62
Pending for release!

[2020-03-20 19:28] MithicSpirit commented on #61
Yes. If I run `pipupgrade -y` nothing updates even when running just `pipupgrade` prompts me to update packages, which do get updated if I were to respond `y` to the prompt.

[2020-03-21 12:38] achillesrasquinha commented on #63
Could you `cat ~/.pipupgrade/config.ini` for me?

[2020-03-21 12:42] achillesrasquinha commented on #64
Personally haven't tested this on Cygwin, would need to figure out an environment to do so.

[2020-03-21 12:42] achillesrasquinha commented on #64
By best case is a corrupted cache for now. `rm -rf ~/.pipupgrade` and try again? It seems like a SQLite issue related to Cygwin.

[2020-03-22 14:51] achillesrasquinha commented on #66
Released with 1.7.0.

You can use the `--upgrade-type major|minor|patch` to update a specific color. Please check [FAQ](https://github.com/achillesrasquinha/pipupgrade/blob/master/FAQ.md#what-does-each-color-symbolize) for more details.

[2020-03-22 14:51] #66 closed

[2020-03-22 14:52] achillesrasquinha commented on #62
@pgnd please update to `1.7.0` with `pipupgrade --self` and let me know if this fixes for you.

[2020-03-22 15:02] pgnd commented on #62
@achillesrasquinha

incurrent pyenv
[code]

self-upgrade fails
[code]

looking in src
[code]
that's a different env, and when in THIS env, should be left alone

trying instead with a pip upgrade of pipupgrade
[code]

[2020-03-22 15:22] pgnd commented on #62
hm, with two supposedly _separate_ pyenv

[code]

where
[code]

part of the confusion, i think, arises from
[code]

[2020-03-22 16:15] achillesrasquinha commented on #61
@MithicSpirit Fixed, released for `1.7.1

[2020-03-22 16:16] achillesrasquinha commented on #61
Please reopen if persists. Upgrade as follows `pipupgrade --self`

[2020-03-22 16:16] #61 closed

[2020-03-22 19:51] binarykitchen commented on #63
[code]

but it changes during the upgrade and becomes corrupt.

[2020-03-22 20:10] binarykitchen commented on #63
here an example when corrupt

[code]

[2020-03-23 14:31] E3V3A commented on #64
Tried, same thing

Nope. I never had an issue with `sqlite3` on Cygwin. I don't think it is sqlite, it must be a permission thing, although permissions are *not really used* under Cygwin.

Tried changing permissions, same thing.

Where is the data base used in the code?
I can't find the calls to sqlite...

[2020-03-23 14:40] E3V3A commented on #64
Can you guys post the results from:
[code]

PS. What is *your* default location for the `db.db` file (on windows)?

[2020-03-23 16:24] E3V3A commented on #64
Don't you need to do `db.commit()` and then `db.close()`? I  don't see those?

[2020-03-26 16:12] E3V3A commented on #64
I tired to give full permissions with:
[code]

Same problem:

[code]

[2020-03-26 17:30] sidler-mozilla commented on #59
I am getting this same behavior on 1.7.1.  I can confirm that I get exactly what is described here: https://github.com/achillesrasquinha/pipupgrade/issues/59#issuecomment-586020317

[2020-03-28 22:19] max-sixty commented on #40
FWIW, I had this same error and upgrading to the latest `pipupgrade` solved it

[2020-03-28 22:23] max-sixty opened #67 "ValueError: pip executable not found"
Thank you for the awesome tool!

#### What's the bug all about?

Running `pipupgrade` raises `ValueError: pip executable not found.`

#### What command led to this issue?

*Please type the exact command that led to this issue.*

[code]

#### Logs

[code]

I'm on MacOS, with python installed through brew. I don't have any oddities in my config.

[2020-03-30 13:46] achillesrasquinha commented on #67
Hi @max-sixty - could you use the `--verbose` flag and help me display the output?

[2020-03-31 17:19] max-sixty commented on #67
Hi @achillesrasquinha; unfortunately it's the same output:

[code]

[2020-04-10 16:18] max-sixty commented on #67
FYI I just got a new Mac, installed python3 with brew and have the same error. So I think it's more likely to be a general issue with pipupgrade & python-on-brew than specific to my system.

[2020-04-21 14:31] Josue-T commented on #26
Hello,

I'm also impacted by this issue. Maybe the solution could be to pass [here](https://github.com/achillesrasquinha/pipupgrade/blob/master/src/pipupgrade/commands/helper.py#L319-L320) the option `--local` to pip. This could be enabled optionally and it could avoid to try to upgrade many package installed by the system.

[2020-05-02 11:50] privacyguy123 commented on #62
Same error on Windows O.o

[2020-05-07 18:09] carloshernandezcu commented on #59
I got the same error on 1.7.1, after some work, I fixed the problem uninstalling every package using pip, and pip itself. Then, I uninstall and reinstall the python version I use.
[code]
And finally, pipupgrade worked!

[2020-05-12 20:12] rbutoi commented on #67
Could it be that it should be `pip3`?

[2020-05-13 00:49] max-sixty commented on #67
`pip` resolves:

[code]

[2020-05-13 15:29] retrography commented on #67
The same here (on Mac).

[2020-05-13 16:16] wilcoxon commented on #55
This is broken in 1.7.1 again.

[2020-05-13 16:38] wilcoxon commented on #55
Or maybe not.  I'm now confused.  I did:
1) pipupgrade --self (to 1.7.1)
   * the error fixed in 1.6.5 showed up again
2) easy_install pipugrade==1.6.5
   * the error fixed in 1.6.5 was fixed again
3) pipupgrade --self (to 1.7.1)
   * the error fixed in 1.6.5 was still fixed

No idea what happened.

Closing again...

[2020-05-13 16:38] #55 closed

[2020-06-02 16:35] AhmadNaruto opened #68 "Error run in termux"
#### What's the bug all about?

pipupgrade cant run in termux.. its raising error

#### What command led to this issue?

*Please type the exact command that led to this issue.*

[code]

#### Logs

*logs using `pipupgrade --verbose`*

[code]

[2020-06-03 04:43] ejuarezg opened #69 "Include build instructions"
Hi, can you include instructions to build pipupgrade manually? I am running into some errors using the last release and would like to build it manually to see if the errors have been addressed in recent commits.

Thanks!

[2020-06-04 16:54] achillesrasquinha commented on #69
What errors do you face?

[2020-06-05 03:19] ejuarezg commented on #69
I'm running `pipupgrade itunespy` and I get the following output:

[code]

[2020-06-09 22:53] MithicSpirit opened #70 "Flag to ignore certain packages"
There should be a flag that can be set to ignore certain packages (by name). This would be useful for packages that are not used directly by the user but are instead dependencies that are managed by the system package manager.

[2020-06-09 23:57] achillesrasquinha commented on #70
Have you tried - https://github.com/achillesrasquinha/pipupgrade/blob/master/FAQ.md#how-do-i-upgrade-only-selected-packages

[2020-06-10 01:53] MithicSpirit commented on #70
I want to do the opposite of that: rather than specifying which packages I want to update I want to specify which one's I _don't_ want to update (while all other packages do get updated). While I could check which packages are outdated, then upgrade the ones that I don't want to be ignored, that would be quite lengthy.

[2020-06-10 05:00] achillesrasquinha commented on #70
Seems like a new feature.

[2020-06-12 01:54] achillesrasquinha commented on #70
Released with 1.7.2

[2020-06-12 04:11] #70 closed

[2020-06-12 04:45] achillesrasquinha commented on #69
Added build instructions [here](https://github.com/achillesrasquinha/pipupgrade/blob/master/docs/source/INSTALLATION.md).

[2020-06-12 22:02] ejuarezg commented on #69
Thanks for the instructions. I tried to build module but it failed with error
[code]
I believe this is due to the empty file `requirements.txt`.

Also, the command `curl -OL https://github.com/achillesrasquinha/tarball/ccapi`  in the instructions did not work for downloading the tarball. Instead, I had to use `curl -OL https://github.com/achillesrasquinha/pipupgrade/tarball/master`.

[2020-06-18 14:55] achillesrasquinha commented on #69
Updated them.

[2020-06-22 22:48] rawrgulmuffins opened #71 "pipupgrade --requirements requirements_dev.txt hits an AttributeError"
#### What's the bug all about?

When running `pipupgrade --requirements requirements_dev.txt` we hit a stack trace from the internal library.

#### What command led to this issue?

[code]

#### Logs

*Please paste the logs using `pipupgrade --verbose`*

[code]

[2020-06-24 00:28] JayRizzo commented on #40
Hi @max-sixty,

Yeah, tried that and still having no luck.  it is complaining in the `multiprocessing.pool.RemoteTraceback` about `TypeError: can only concatenate str (not "datetime.timedelta") to str`...

Tried upgrading
* `/usr/local/opt/python/bin/python3.7 -m pip install --upgrade pip`
* `pip install pipupgrade --upgrade`
* `pip install wheel --upgrade`

Tried uninstalling
* `pip uninstall Fla

[2020-07-01 17:01] Arzte commented on #63
Hiya! I'm experiencing a simular issue, only difference is running `pipupgrade` at all will corrupt the config.ini and spam the console with errors, removing the cache does not solve it, as it corrupts the moment I run the command again.

[2020-07-06 18:38] achillesrasquinha commented on #71
Can you upgrade to latest `pipupgrade`? You can try

[code]

[2020-07-06 18:47] achillesrasquinha commented on #69
Fixed setup.py hack!

[2020-07-06 18:47] #69 closed

[2020-07-06 18:57] achillesrasquinha commented on #67
Hi, I've tried to fix this with `pipupgrade 1.7.3`, can you please confirm?

[2020-07-06 19:02] max-sixty commented on #67
Unfortunately no luck:

[code]

[2020-07-08 21:37] Chrismarsh commented on #57
@achillesrasquinha Also seeing this issue. Bug report format below:

#### What's the bug all about?
Running any `pipupgrade` command results in a raised Exception with the text `MemoryError`.

[code]

#### What command led to this issue?

[code]

#### Logs

*Please paste the logs using `pipupgrade --verbose`*

[code]

[2020-07-09 00:08] rawrgulmuffins commented on #71
Hello @achillesrasquinha. I'm, still hitting this on the latest version

[code]

[2020-07-12 12:55] JamesMcGuigan commented on #63
I'm getting similar issues. If I edit `~/.pipupgrade/config.ini` to try and fix the issue and I get non-deterministic results when rerunning the command (it mostly breaks again, but occasionally works). This affects cases where config.ini has been removed completely.

The main symptoms are:
- duplicate keys
- key=value pairs only containing a random sized tail end of the string output
  - `version

[2020-07-12 13:09] JamesMcGuigan commented on #63
Looking at the code, I can see that `config.ini` is managed by the `Settings` class (which in turn wraps `Configuration` and `ConfigParser`). The `file.write()` function is called on every execution of `Configuration.set()`.

Searching through the codebase, I find that `Settings` is not a singleton, but actually exists as three separate instances:
- https://github.com/achillesrasquinha/pipupgrade/

[2020-07-12 16:02] JamesMcGuigan commented on #63
I tried implementing a Singleton, but this caused problems with multiprocessing. Eventually found the solution, which is to add `threading.Lock()` around the `Configuration` read/write disk IO.

I've created a pull request that should fix this issue:
- https://github.com/achillesrasquinha/pipupgrade/pull/72

[2020-07-31 03:50] achillesrasquinha commented on #63
Released with 1.7.4

[2020-07-31 11:59] WouterVH opened #73 "support virtual environments"
Currently the configuration is globally available  for all virtual envs for a specific user:

~/.pipupgrade/config.ini

1) This violates the goal of virtual or isolated environments.
2) This also pollutes the $HOME,
    modern location should be ~/.config/pipupgrade/ according to XDG_CONFIG_DIRS
   (pip itself also move to ~/.config/pip/)

I propose to support an extra environment-variable:

PIPUP

[2020-07-31 13:05] mogekag commented on #67
I am having the same issue, but I have a couple versions of python installed and PIP is only installed on python3.8.
It seems this error is being raised from *_pip.py* file when it uses `which(pip_)` to check where it is.

I guess this could be skipped if the value of `--pip-path` was passed to `which()`, since there is an argument for path within `find_executable()` at *system.py*. What I managed

[2020-08-17 17:45] achillesrasquinha commented on #73
Good call!

[2020-08-26 18:32] onedr0p commented on #67
Same issue here on MacOS as well:

[code]

[2020-09-01 21:18] danieldjewell commented on #68
Android's libc (Bionic) doesn't support Semaphores and thus doesn't support SemLock ...

I just tried running pipupgrade with ```-j 1``` in the hopes that a single job would disable trying to use ```multiprocessing``` but it didn't work.

Specifically, it's not possible to instantiate a ```multiprocessing.pool.Pool``` object on Termux on Android. (It might work in Arch Linux on Termux on Android..

[2020-09-23 21:07] wilcoxon opened #74 "1.7.4 package.py error adding string to datetime object"
Running pipupgrade 1.7.4 (on Windows 10 with Python 3.8.5 64-bit) gave an error about adding a string to a datetime object.

Here is a patch to fix that issue.

    --- package-1.7.4-bad.py        2020-09-23 16:01:18.981150900 -0500
    +++ package-1.7.4-fix.py        2020-09-23 16:01:30.107120100 -0500
    @@ -110,7 +110,7 @@
                            cache_timeout = settings.get("cache_timeout

[2020-09-23 21:10] wilcoxon opened #75 "pipupgrade 1.7.4 run issues"
After applying the fix I submitted, pipupgrade 1.7.4 still seems to have issues (Windows 10 with Python 3.8.5 64-bit).

It seems to run pip and then run pip3 using the same base data.  This leads to updating the libs from the pip list and then getting the same list of libs for the pip3 list (even though they are already updated).

One time when I was down to only a few libs to update, pipupgrade l

[2020-09-23 21:13] #75 closed

[2020-09-23 21:13] wilcoxon commented on #75
Mostly duplicate of issue ready for release

[2020-09-23 21:17] wilcoxon commented on #63
I ran into this for a bit today (in 1.7.4).  Uninstalling pip and reinstalling ('pip uninstall pipupgrade', 'pip install pipupgrade') fixed the issue for me.  My best guess is something got left behind that was causing issues.

[2020-09-30 18:08] ryanpcmcquen commented on #40
I just went back to using this:
[code]

[2020-09-30 21:12] max-sixty commented on #40
I'm not sure whether there's another issue where I added something — I do still get this issue. Interestingly it works within a virtual env, but not outside.

[2020-10-12 17:05] alezok commented on #67
I'm having the same problem now on a mac with Python 3.8.6. The pip (alias for pip3 in my case) command works just fine but for any pipupgrade command I get the following error:

[code]

[2020-10-18 20:37] dangiankit opened #76 "pip October 2020 dependency conflicts, --use-feature=2020-resolver"
#### What's the bug all about?

[code]

#### What command led to this issue?

[code]

#### Logs

[code]

And then, for each of the other three packages, the above `ERROR` is repeated.

[2020-10-18 20:47] dangiankit commented on #76
The error is resolved when we annex the flags `--use-feature=2020-resolver` to `pipupgrade`.

Use:
[code]

Verify:
[code]

[2020-10-18 20:47] #76 closed

[2020-10-28 15:49] Suncatcher opened #77 "Indefinite freezes on update via --all"
I encountered a couple of time it freezes when iterating over the list of packages via pipupgrade --all and stuck indefinitely.
I didn't got any consistent pattern of when this happens, I have 62 packages and each time it stopped on different one, so I will not add any more details, just be aware that these happens some time.
Whether this is I/O issue or network one, this should be dealt somehow a

[2020-10-30 10:41] eblis opened #78 "Cannot run on Windows10"
#### What's the bug all about?

I've found out about the project and wanted to use it to upgrade my libraries but cannot get it to run successfully.

#### What command led to this issue?

[code]

#### Logs

*Please paste the logs using `pipupgrade --verbose`*

[code]

I can run the command myself though:
[code]

[2020-11-01 16:54] macgeneral commented on #71
Dowgrading to pip 19.x solved this issue for me:
`pip install pip~=19.0`

It fails with 20.2.4.

[2020-11-15 23:45] memeplex commented on #67
Same here in MacOS Big Sur, problem is in:

[code]

Many of us using brew have symlinked pips in our paths, so nothing is added to `execs`.

What about using this instead:

[code]

?

[2020-11-25 13:12] mdbuerkle commented on #67
Hello,

"osp.realpath(exec_)" wont work in my case (gentoo GNU/Linux) as it will loose the "pip" command name required to act in python-exec on behalf of "pip...":

pc ~ # pipupgrade/_pip.py line 47:                 if exec_ not in execs and not osp.islink(exec_):
pc ~ # ls -l /usr/bin/pip*
lrwxrwxrwx 1 root root 31 22. Sep 01:45 /usr/bin/pip -> ../lib/python-exec/python-exec2
lrwxrwxrwx 1 root ro

[2020-12-13 21:38] eabase opened #79 "Don't spam out environment variables, use pipupgrade.rc"
Please don't spam out environment variables. Instead use a runtime settings file, like `pipupgrade.rc`.

[2020-12-13 21:40] eabase opened #80 "Add a --exclude CLI switch to avoid updating certain packages"
Please add a method to exclude certain packages from being updated.

For example: `--exclude <package-list>`

[2020-12-13 21:56] eabase opened #81 "after pipupgrade --self executable cannot be found"
#### What's the bug all about?

After I updated _pipupgrade_  from `1.7.1` to  `1.7.4`, using Py3.8 on Cygwin, the executable can no longer be found.
In fact it find the the wrapper in the path, but then it is not able to execute it.

#### What command led to this issue?

[code]

#### Logs

[code]

[2020-12-13 22:34] eabase commented on #81
Strangely enough, even though it is in the path, it cannot be executed there.
Instead I managed to get it to execute with:
[code]

This yield a lot of errors:

<details>
<summary>Click to see</summary>

[code]

followed by the packages:

[code]
</details>

[2020-12-13 22:37] eabase commented on #81
For `Disk IO Error`, I got this log snippet:
[code]

[2020-12-13 23:04] eabase commented on #48
What's up with this SQLite locking? (where is it done?)
I'm getting this too now...

[2020-12-14 00:10] eabase opened #82 "Where is the bootstrap.sql file?"
Looking at this line:
* https://github.com/achillesrasquinha/pipupgrade/blob/e70314b1457fe03552b9ba06f4a982e712960a7d/src/pipupgrade/db.py#L82

Where is this file?

[2020-12-14 00:36] eabase commented on #82
Ha! Crazy Github was not able to find it!
* https://github.com/achillesrasquinha/pipupgrade/blob/master/src/pipupgrade/data/bootstrap.sql

[2020-12-14 01:16] eabase commented on #81
@achillesrasquinha

I think there are some problems in your DB queries etc.

Both these errors:
[code]
are stemming from that file.

Things you need to check:

* make sure you close the DB connection (not only the cursor)
* make sure you're not having threads making multiple access
* make sure that connection is closed or re-opened properly after an exception. (I don't see this in your code)
* ena

[2020-12-14 01:32] eabase commented on #82
* using `AUTOINCREMENT` should be avoided and is not needed.
  https://www.sqlite.org/autoinc.html
* using and **`id`** is also not really needed.

[2020-12-15 21:51] RashiqAzhan opened #83 "Exception in thread Thread-5"
#### What's the bug all about?

pipupgrade won't update/upgrade anything.

#### What command led to this issue?

Happens with all the commands.

[code]

#### Logs

*Please paste the logs using `pipupgrade --verbose`*

[code]

[2020-12-30 19:29] achillesrasquinha commented on #80
The `--ignore` flag does this. Please check.

[2020-12-30 19:29] #80 closed

[2020-12-30 20:12] achillesrasquinha commented on #82
Thanks for the info! I've removed the same.

[2020-12-30 20:33] achillesrasquinha commented on #73
Done!

[2020-12-30 20:41] achillesrasquinha commented on #79
I'm not sure I understand this issue. What do you mean by "spamming" environment variables? And how can it be achieved using an `rc` file?

[2020-12-30 20:44] achillesrasquinha commented on #83
Seems like the number of cores used by pipupgrade is a ton! I'll lower the maximum fetch for this.

[2020-12-30 20:54] achillesrasquinha commented on #81
Thank you for a clear review! I've abided to using `TEXT` instead of `DATETIME` or `TIMESTAMP`. I'll need to revisit a little more on your comments and see a good review and help for the same.

[2020-12-31 15:58] eabase commented on #79
Hi Achilles,
I mean this:
* https://github.com/achillesrasquinha/pipupgrade/blob/e70314b1457fe03552b9ba06f4a982e712960a7d/docs/source/envvar.md

That is crazy number of new variables that I really don't want to see for one package.

[2021-01-01 21:06] achillesrasquinha commented on #74
Fixed this on develop, pending for release.

[2021-01-01 21:06] achillesrasquinha commented on #74
Related to #81

[2021-01-07 19:03] #73 closed

[2021-01-07 19:03] #82 closed

[2021-01-07 19:03] #83 closed

[2021-01-07 19:03] #74 closed

[2021-01-07 19:03] #81 closed

[2021-01-07 19:57] RashiqAzhan commented on #83
Thank you for your work. I am excited to get to work with your new release.

[2021-01-08 19:01] CDAGaming opened #84 "TypeError: expected str, bytes, or os.PathLike object, not NoneType"
#### What's the bug all about?

This issue has only just began occurring today, where the only recent edits to my environment involved the following commands, which succeeded at the time.

[code]

I am unsure what could have occurred to cause pipupgrade to stop working but I'm open to any sort of suggestions (distro-info and python-apt are ignored in the script, since PopOS manages both those and

[2021-01-08 22:01] duduche59 commented on #84
Same issue
OS : Linux Mint 20

[2021-01-08 23:08] zombiepigdragon commented on #84
Reproduced on Arch Linux today. Can be fixed in the _very_ short term by downgrading to 1.7.4 with `pip install 'pipupgrade==1.7.4'`, though obviously using it will bring back the broken version 1.8.0.

[2021-01-11 20:24] achillesrasquinha commented on #84
Fixed and Released `1.8.1`.

[2021-01-12 07:20] duduche59 opened #85 "TypeError: strptime() argument 1 must be str, not datetime.datetime after upgrading to 1.8.2"
After upgrade to 1.8.2 on raspbian buster i have this issue
sudo pipupgrade
Checking...

multiprocessing.pool.RemoteTraceback:
"""
multiprocessing.pool.RemoteTraceback:
"""
Traceback (most recent call last):
  File "/usr/lib/python3.7/multiprocessing/pool.py", line 121, in worker
    result = (True, func(*args, **kwds))
  File "/usr/local/lib/python3.7/dist-packages/pipupgrade/model/package.py", l

[2021-01-13 20:54] max-nicholson commented on #71
Came across this error myself with pipupgrade v1.8.2 and pip v20.3.3.

The `package` arg of the Package class __init__ seems to be of type  [ParsedRequirement](https://github.com/pypa/pip/blob/a387de10d81ca0688c7cd267be6054efeca89e94/src/pip/_internal/req/req_file.py#L84) as of pip v20.X, so no `if` condition is met and `self.name` (and `current_version`) is never set

I managed to get it working

[2021-01-14 14:01] CDAGaming commented on #85
Can confirm same issue on PopOs 20.04.1

[2021-01-14 14:02] CDAGaming commented on #84
Closing as Fixed, but not fully (Forwarded to #85

[2021-01-14 14:02] #84 closed

[2021-01-14 17:46] achillesrasquinha opened #88 "Setup Logger Verbose Levels"

[2021-01-19 21:36] zombiepigdragon opened #89 ""An error occured while performing the above command" when quitting via 'q'"
When attempting to cancel the upgrade by pressing 'q' when prompted, the error handler catches it and displays
[code]
This should be easily fixed by not showing the error for SystemExit exceptions.

[2021-01-20 15:19] achillesrasquinha commented on #89
Could you post the entire log out here?

[2021-01-20 15:29] zombiepigdragon commented on #89
[code]

[2021-01-26 18:11] #89 closed

[2021-01-26 18:11] achillesrasquinha commented on #89
Fixed and Released!

[2021-01-26 18:31] rakaw commented on #85
I can confirm as well. Same issue on Manjaro 20.2.1
- Kernel: 5.10.10
- Python: 3.9.1

Using zombiepigdragon's temporariy fix to downgrade to pipupgrade ver. 1.7.4 works fine for now.

[2021-01-26 19:16] CDAGaming commented on #85
Bump. Effects 1.8.3 as well

CC: @achillesrasquinha since this is stopping usability of this, just like the last TypeError.

[2021-01-28 15:16] achillesrasquinha commented on #85
Hi guys! Could you please post a very fresh log of your latest command.

[2021-01-28 18:58] rakaw commented on #85
@achillesrasquinha here is the output for running pipupgrade ver. 1.8.4:

Checking...

multiprocessing.pool.RemoteTraceback:
"""
multiprocessing.pool.RemoteTraceback:
"""
Traceback (most recent call last):
  File "/usr/lib/python3.9/multiprocessing/pool.py", line 125, in worker
    result = (True, func(*args, **kwds))
  File "/home/rk/.local/lib/python3.9/site-packages/pipupgrade/model/package.py"

[2021-01-29 06:46] duduche59 commented on #85
@achillesrasquinha Issue set to raspbian buster with version 1.8.4
On Linuxmint 20 :
Checking...

multiprocessing.pool.RemoteTraceback:
"""
multiprocessing.pool.RemoteTraceback:
"""
Traceback (most recent call last):
  File "/usr/lib/python3.8/multiprocessing/pool.py", line 125, in worker
    result = (True, func(*args, **kwds))
  File "/usr/local/lib/python3.8/dist-packages/pipupgrade/model/packa

[2021-01-29 18:52] max-nicholson opened #93 "Upgrade type ignored with `--requirements` or `--project`"
#### What's the bug all about?

Upgrade type is ignored when running `--requirements` or `--project` (all upgrades included rather than just the specified/default of minor/patch)

`current version` includes the specifier (in this case `==`) not just the number

#### What command led to this issue?

[code]

[code]

#### Logs

[code]

[2021-01-29 18:54] max-nicholson commented on #93
I think the solution is to modify this line:
https://github.com/achillesrasquinha/pipupgrade/blob/1ec3d5fd779fd8aff008be1fe2ec72888a8cd494/src/pipupgrade/model/package.py#L86

`package.req.specifier` is a `frozenset` of `Specifier` classes (https://github.com/pypa/pip/blob/31eb524ff0d18d6190b30a0c7821c0c857a7523c/src/pip/_vendor/packaging/specifiers.py#L334)

So in this case the current version wo

[2021-01-30 03:06] achillesrasquinha commented on #93
The `current_version` should expect the actual current version installed or available within the requirements if present.

[2021-02-01 20:31] RashiqAzhan opened #95 "ValueError with _exhaustive_wait with all commands"
#### What's the bug all about?

The upgrade doesn't carry out. It never finishes execution and gets stuck. I have tried reinstalling both the package and python itself but to no avail.

#### What command led to this issue?

[code]

#### Logs

*Please paste the logs using `pipupgrade --verbose`*

[code]

[2021-02-01 21:18] achillesrasquinha commented on #95
Hi Rashiq, this seems to be using maximum number of jobs that could lead to it turning exhaustive. Could you lower the number for the same? This has also been resolved in `1.8.4`.

[2021-02-04 16:37] areski commented on #77
Same issue the first time I ran it:

![image](https://user-images.githubusercontent.com/53455/106924677-9a8c7a00-670f-11eb-8853-87e9786a2fe8.png)

[2021-02-16 22:37] shadowlmd commented on #85
Wow, this is still not fixed..

[2021-02-18 07:35] x-santiaga-x opened #96 "Wrong console coloring on Win7"
#### What's the bug all about?

An attempt to run the command on win7 results in the output of messages with color escape sequences to the console.
The same result occurs when run from VScode.

#### What command led to this issue?
pipupgrade --help

#### Logs
[code]

#### Python logs
[code]

[2021-02-18 07:58] x-santiaga-x opened #97 "Update same package twice with pip and pip3"
#### What's the bug all about?

There is venv python environment on win32 having pip and pip3 in Scripts directory and they are the same pip.
When we run any pip command with pipupgrade, they both run and produce the same result. Therefore, packages are updated twice unnecessarily.

pip doesn't need to be used if we have found pip2 or pip3.

#### What command led to this issue?
[code]

#### Logs
[

[2021-02-18 19:21] CDAGaming commented on #85
It indeed is incredible, since this issue as well as the last one meant I haven't been able to use this product for the last month or so. Very likely I'll be discouraging further use of this package, or just fork it privately to fix it myself at this point, if even with multiple logs and multiple versions effected, that the owner is unable to fix this.

[2021-02-27 04:36] CDAGaming commented on #85
Issue confirmed fixed as of new testing on 1.9.0

Reproduction is recommended if anyone still faces this.

[2021-03-03 00:40] achillesrasquinha commented on #97
Closing as very similar to #62. Also a work around for this would be to use the `--pip-path` flag strictly.

[2021-03-03 00:40] #97 closed

[2021-03-03 00:57] achillesrasquinha commented on #95
Closing this due to inactivity. Also fixed for 1.9.0

[2021-03-03 00:58] achillesrasquinha commented on #85
Closing since fixed. Please reopen if issues.

[2021-03-03 00:58] #85 closed

[2021-03-03 00:59] achillesrasquinha commented on #79
@eabase Curious to know if there are other packages/software that recommend this style?

[2021-03-10 21:06] x-santiaga-x commented on #97
The problem is not that the two pip instances are the same (this can be solved using a checksum, but somehow didn't work for me), but that they are trying to update the same location.

The solution could be `pip list` and `pip show <first-installed-package>` to get the Location string.  In this way, you can define a minimal set of pip instances to update all environments.

[2021-03-11 10:04] eabase commented on #79
If you're used to any *nix based OS, you'd know that most software needing a lot of configuration variables (including Python) are using this method, or variations of it. You wouldn't even be able to use SSH without the `.ssh` sub-directory in `$HOME`.

[2021-03-17 16:34] Bhavesh012 opened #98 "BrokenPipeError: [Errno 32] Broken pipe"
#### What's the bug all about?

*I recently installed pipuprade on my ubuntu. Whenever I try any command, it gives me 'BrokenPipeError: [Errno 32] Broken pipe'*

#### What command led to this issue?

[code]
#### System Specifications

[code]

#### Logs

*Please paste the logs using `pipupgrade --verbose`*

[code]

[2021-03-21 19:26] CDAGaming commented on #98
Same issue on my end, albeit it only occured with linuxbrew's version, not normal pip.

[2021-03-24 10:29] x-santiaga-x commented on #97
@achillesrasquinha can you check if pip that updates the same location can be excluded from active pip's?

[2021-03-26 14:49] RashiqAzhan commented on #95
I'm on version 1.9.0 and it still doesn't work. The terminal remains stuck indefinitely.

### Command used:
[code]

### Terminal Output:
[code]

[2021-04-03 12:56] tekumara commented on #57
Same issue:
[code]

[code]

[2021-04-17 13:54] martinet101 commented on #36
https://github.com/achillesrasquinha/pipupgrade/blob/392ead70df830802a8eeb04cf21bab3f883e9a2d/src/pipupgrade/commands/helper.py#L307

This happens because on line 308 on the file /src/pipupgrade/commands/helper.py an exception is raised if subprocess.Popen returns non-0 value. So, the solution would be adding something like:

[code]

I'll create a pull request (If I find how).

[2021-04-17 13:55] martinet101 commented on #36
#99

[2021-04-17 14:00] martinet101 commented on #36
Pull request created: #99

[2021-04-21 05:57] Aladriehl commented on #98
same issue too

[2021-04-26 22:34] goban opened #100 "AttributeError: 'NoneType' object has no attribute 'keys'"
#### What's the bug all about?

AttributeError: 'NoneType' object has no attribute 'keys' on:

#### What command led to this issue?

pipupgrade -aV

#### Logs

[code]

[2021-04-26 22:35] goban commented on #100
note, without -a it works ok

[2021-04-28 02:30] icecream17 opened #101 "Random error"
#### What's the bug all about?

I tried pipupgrade for the first time and got this error:

[code]

This isn't a very useful report since it worked the second time with `pipupgrade --yes --latest --verbose`

#### What command led to this issue?

*Please type the exact command that led to this issue.*

[code]

#### Logs

<details>
<summary>Initial command</summary>

[code]

</details>

As mentioned

[2021-05-05 11:08] mihalycsaba opened #102 "sqlite3.DatabaseError: database disk image is malformed"
#### What's the bug all about?

I ran the pipupgrade command once it looked like it worked, second time it doesnt work.

#### What command led to this issue?

[code]

#### Logs

*Please paste the logs using `pipupgrade --verbose`*

[code]

[2021-05-19 21:24] jmwislez opened #103 "pipupgrade.exception.PopenError: Command '/usr/bin/pip2 install pygobject --no-cache-dir --upgrade' returned non-zero exit status 1."
As requested, I post an issue

Traceback (most recent call last):
  File "/home/jmw/.local/lib/python3.6/site-packages/pipupgrade/commands/__init__.py", line 78, in command
    return _command(**ARGUMENTS)
  File "/home/jmw/.local/lib/python3.6/site-packages/pipupgrade/commands/__init__.py", line 244, in _command
    upgrade_type = a.upgrade_type
  File "/home/jmw/.local/lib/python3.6/site-package

[2021-06-13 03:33] sgreadly opened #105 "pipupgrade stuck on Checking... excessive resource usage"
#### What's the bug all about?

pipupgrade is stuck on "Checking...".

It seems to need a lot of resources (Mem/CPU), which is not feasible on simpler hardware like the Raspberry Pi Zero WH I'm on. Can't seem to handle its needs :/

[code]

![Screen Shot 2021-06-13 at 3 26 48 PM](https://user-images.githubusercontent.com/1705194/121794458-5597c780-cc5c-11eb-80e2-242c4c5e7829.jpg)
![Screen Shot 202

[2021-06-13 21:59] sgreadly commented on #105
Hmm, I'm starting to think this issue is with Python itself, not your script. Although pip-check did manage to update the packages without similar behaviour..

[2021-06-13 22:04] sgreadly opened #106 "pipupgrade.exception.PopenError: Command '/usr/bin/pip2 list --outdated --format json' returned non-zero exit status 2"
#### What's the bug all about?

It looks like the pipupgrade script fails if your pip2 is outdated (even if you use pip3 but it seems to still want to check pip2). It would be better - easier for us and less escalations for you - if it would give an easier indication of that and what needs to be done, instead of the error message observed.

i.e., detect your pip2 is old and needs to upgrade to the

[2021-06-14 12:06] LarsK1 opened #107 "Incorrect path - missing " for windows"
#### What's the bug all about?

It doesn't run at, all because Windows is missing " around the path

#### What command led to this issue?

*Please type the exact command that led to this issue.*

[code]

#### Logs

*Please paste the logs using `pipupgrade --verbose`*

[code]

[2021-06-14 12:07] LarsK1 commented on #107
When running the command `"C:\Program Files\Python39\Scripts\pip.EXE list" --outdated --format json` it works perfectly fine

[2021-06-15 08:52] Janosch commented on #102
I got the same thing. In my case I suspect it has something to do with a previously failed upgrade attempt:
[code]
When I try to do pipupgrade again, I get the same error as @mihalycsaba:

[code]

[2021-06-16 23:05] sgreadly commented on #103
Could this be related to Issue #106 ? Try upgrading pip2 and see if this is resolved.

[2021-07-07 17:57] HenrikFFM commented on #103
@sgreadly:

not for me.

I habe a fresh WSL Linux 2 Installation, Ubuntu 20

$ sudo apt update
$ sudo apt install python3-pip
$ sudo pip3 install pip --upgrade
$ sudo pip install ansible --upgrade
$ sudo pip install pywinrm --upgrade
$ sudo pip install pipupgrade --upgrade
$ sudo pipupgrade

`sudo pipupgrade
/usr/lib/python3/dist-packages/secretstorage/dhcrypto.py:15: CryptographyDeprecationWarnin

[2021-07-07 22:10] sgreadly commented on #103
@HenrikFFM

Can you post the output of

$ pip2 --version

$ pip2 install -U pip

[2021-07-08 06:16] HenrikFFM commented on #103
(base) schuetzeh@WKSFRA005:~$ pip2 --version

Command 'pip2' not found, did you mean:

  command 'pip' from deb python3-pip (20.0.2-5ubuntu1.5)
  command 'pipx' from deb pipx (0.12.3.1-2ubuntu1)
  command 'nip2' from deb nip2 (8.7.0-1)
  command 'pip3' from deb python3-pip (20.0.2-5ubuntu1.5)

Try: sudo apt install <deb name>

(base) schuetzeh@WKSFRA005:~$

[2021-07-08 06:17] HenrikFFM commented on #103
(base) schuetzeh@WKSFRA005:~$ pip2 install -U pip

Command 'pip2' not found, did you mean:

  command 'pip' from deb python3-pip (20.0.2-5ubuntu1.5)
  command 'pip3' from deb python3-pip (20.0.2-5ubuntu1.5)
  command 'pipx' from deb pipx (0.12.3.1-2ubuntu1)
  command 'nip2' from deb nip2 (8.7.0-1)

Try: sudo apt install <deb name>

(base) schuetzeh@WKSFRA005:~$

[2021-07-08 08:41] HenrikFFM commented on #103
and sometimes i get:

schuetzeh@WKSFRA005:~$ sudo pipupgrade
Checking...
2021-07-08 10:34:06,588 | WARNING | Unable to save package name. UNIQUE constraint failed: tabPackage.name
2021-07-08 10:34:06,642 | WARNING | Unable to save package name. UNIQUE constraint failed: tabPackage.name
2021-07-08 10:34:06,821 | WARNING | Unable to save package name. UNIQUE constraint failed: tabPackage.name
2021-0

[2021-07-08 08:50] HenrikFFM commented on #103
#!/usr/bin/python3
# EASY-INSTALL-ENTRY-SCRIPT: 'pip==20.0.2','console_scripts','pip3'
__requires__ = 'pip==20.0.2'
import re
import sys
from pkg_resources import load_entry_point

if __name__ == '__main__':
    sys.argv[0] = re.sub(r'(-script\.pyw?|\.exe)?$', '', sys.argv[0])
    sys.exit(
        load_entry_point('pip==20.0.2', 'console_scripts', 'pip3')()
    )
/usr/bin/pip3 (END)

[2021-07-09 02:24] sheen7334 commented on #105
same, win10, ran pipupgrade, new laptop so not a resources issue, stuck on checking, "pip3 list --outdated" ran fine and instantly.

[2021-08-04 14:03] MReed1959 opened #108 "Fails on some packages"
#### What's the bug all about?

Two packages will always fail on one of my Raspberry PI Zero's. On the other Raspberry PI Zero
I get error messages while pipupgrade is starting.

#### What command led to this issue?

[code]

#### Logs

Screen shot on the first Zero (Zero3):
[code]

*Please paste the logs using `pipupgrade --verbose`*

[code]

Screenshot on 2nd Zero (moreylog):

[code]

*Please pas

[2021-08-21 10:54] herrnici opened #109 "datetime parsing error"
#### What's the bug all about?

Failure on some packages due to (nonstandard?) timestamps without microseconds.
I'm not sure whether this is an input that needs to be supported or should be considered faulty.

#### What command led to this issue?

[code]

#### Logs

[code]

[2021-08-28 02:50] Column01 commented on #60
Hey, me from the future. This was a configuration error. Closing as it's not relevant to this repository

[2021-08-28 02:50] #60 closed

[2021-08-30 13:28] Thabomtt opened #110 "Package update error"
#### What's the bug all about?

*A clear and concise description of what the bug is.*

#### What command led to this issue?

Updating 7 of 49 packages: distro-info
duplicity (0.8.12.0) -> (0.8.20) [Y/n/q]: Y
Updating 8 of 49 packages: duplicity

Traceback (most recent call last):
  File "/home/machine/.local/lib/python3.8/site-packages/pipupgrade/commands/__init__.py", line 78, in command
    retu

[2021-09-01 20:42] achillesrasquinha commented on #110
Could you share the logs?

[2021-09-01 20:49] achillesrasquinha commented on #105
Did you try checking #30 ?

[2021-09-01 20:50] achillesrasquinha commented on #105
Going to close, if you believe this is different from #30 feel free to repoen.

[2021-09-01 21:00] achillesrasquinha commented on #108
@MReed1959 Did you check the logs related to `PyGObject` specifically? It seems it expects you to have some pre-req which is why it might be failing?

[2021-09-01 21:07] achillesrasquinha commented on #102
I'll be introducing `pipupgrade --doctor` soon to rectify this issue. For now, you could clean the cache by simply `rm -rf ~/.config/pipupgrade`

[2021-09-01 21:08] achillesrasquinha commented on #95
I am unable to diagnose without specifiying `pipupgrade --verbose`. Could you share me that report please?

[2021-09-01 21:48] sgreadly commented on #105
Hi @achillesrasquinha

I need to reopen this. Unfortunately deleting pip's cache didn't work for me.

pipupgrade is still hammering the RPi to the point where it's not progressing past "Checking..."

Why does it need to fork/run that many instances at the same time? Can it not consolidate, or run a few at a time, or sequentially?

![Screen Shot 2021-09-02 at 9 46 14 AM](https://user-images.githubu

[2021-09-07 20:54] #109 closed

[2021-09-08 16:22] mrichman opened #115 "ValueError: unconverted data remains: .539842"
[code]

[2021-09-09 03:58] walksonair commented on #115
Same for me... was just coming to post but here it is..

[2021-09-09 05:45] duduche59 commented on #115
idem :

"""
concurrent.futures.process._RemoteTraceback:
"""
Traceback (most recent call last):
  File "/usr/lib/python3.8/concurrent/futures/process.py", line 239, in _process_worker
    r = call_item.fn(*call_item.args, **call_item.kwargs)
  File "/usr/lib/python3.8/concurrent/futures/process.py", line 198, in _process_chunk
    return [fn(*args) for args in chunk]
  File "/usr/lib/python3.8/con

[2021-09-09 10:42] machinexa2 opened #116 "Error while checking"
[code]
[code]
The error occured after pipupgrade --ignore-error

[2021-09-09 10:56] machinexa2 commented on #115
https://github.com/achillesrasquinha/pipupgrade/issues/116

[2021-09-10 07:07] meesha7 commented on #115
This issue happens in v 1.10.0, while 1.9.0 is working

[2021-09-10 07:22] meesha7 commented on #115
If you delete `~/.config/pipupgrade` it starts working, so I'm guessing it's [this line](https://github.com/achillesrasquinha/pipupgrade/blob/master/src/pipupgrade/model/package.py#L129), maybe the DB entry's `_updated_at` changed format?

[2021-09-10 09:48] FernandoMiguel commented on #115
thanks @meesha7

[2021-09-10 18:44] achillesrasquinha commented on #115
Fixed with 1.10.1

[2021-09-10 18:44] achillesrasquinha commented on #116
Fixed with 1.10.1

[2021-09-10 18:44] #115 closed

[2021-09-10 18:46] #116 closed

[2021-09-12 23:42] sgreadly opened #117 "Please reopen #105"
#### What's the bug all about?

Hi,

I'm trying to update https://github.com/achillesrasquinha/pipupgrade/issues/105#issuecomment-910801304 but I cannot seem to reach you.

Also, don't have any means to reopen the issue as I don't have any rights to do so.

Issue still persists. Deleting pip's cache did not resolve the issue.

[2021-09-14 15:49] achillesrasquinha commented on #117
Closing this! Issue reopened.

[2021-09-14 15:49] #117 closed

[2021-09-14 15:49] achillesrasquinha commented on #105
Reopening

[2021-09-15 15:35] ericdp opened #118 "pipugrade fails to check and upgrade"
#### What's the bug all about?

*A clear and concise description of what the bug is.*

#### What command led to this issue?

any pipugrade command results in failure

[code]

[code]

#### Logs

*Please paste the logs using `pipupgrade --verbose`*

[code]

[2021-09-15 15:42] ericdp commented on #118
did several of the following

[code]

and eventually the following worked.
[code]

but
[code]
fails

[code]

[2021-09-15 15:54] achillesrasquinha commented on #118
Kindly upgrade `pipupgrade`. You're using a very outdated version. The latest one should be 1.10.1

[2021-09-15 15:54] achillesrasquinha commented on #118
You can upgrade `pipupgrade` as follows

[code]

[2021-09-18 17:47] Cyberavater opened #120 "Could not install packages due to an OSError: [WinError 2]"
ERROR: Could not install packages due to an OSError: [WinError 2] The system cannot find the file specified: 'C:\\Python39\\Scripts\\bpyutils.exe' -> 'C:\\Python39\\Scripts\\bpyutils.exe.deleteme'

[2021-09-18 17:53] Cyberavater commented on #120
Installing with admin privilege fixed it.

[2021-09-18 17:53] #120 closed

[2021-09-21 01:44] Mark-Joy commented on #41
Hi,
I also got this error on Termux-Android. How to solve it?

[code]

[2021-09-27 04:07] walksonair commented on #60
I'm having a similar issue and suspect configuration. Can you shed some light on what you did to resolve this issue?

[2021-09-27 20:47] Column01 commented on #60
Like I said, I uninstalled python 2.7 and it worked fine. Just make sure the `/usr/bin` has a `pip` or `pip3` in it, if not that could be why

[2021-09-27 20:47] Column01 commented on #60
though I haven't used this program in ages so I have no idea if my changes I made still work

[2021-09-30 08:48] st1led opened #121 "[Errno 11001] getaddrinfo failed when running pipupgrade"
#### What's the bug all about?

I get a cascade of exceptions when trying to run pipupgrade. Could this be due to the fact that in pip I'm using a custom index-url? I didn't find a place to set it up in pipupgrade in case I have to.

#### What command led to this issue?

*Please type the exact command that led to this issue.*

[code]

#### Logs

*Please paste the logs using `pipupgrade --verbose`*

[2021-10-04 20:45] achillesrasquinha commented on #105
@sgreadly Did you try decreasing the number of jobs it uses.

[2021-10-05 03:44] sgreadly commented on #105
Thanks, didn't notice that option. Yes it does help if i set to -j 1. CPU is still 100% solid, but it does go through pip and pip3 at around ~10-15 minutes for each.

I need to fix why it's stopping at pip2 tomorrow then will give it another test.

'''
2021-10-05 16:30:41,767 | INFO | Fetching installed packages for /usr/bin/pip2...
2021-10-05 16:30:41,780 | INFO | Executing command: /usr/bin/pip2

[2021-10-06 01:03] sgreadly commented on #105
Putting pip2 aside as I don't use it, yea managed to it to work with 1 job and just on pip3. Took ~8 minutes.

$ pipupgrade -Vj 1 --pip-path /home/pi/.local/bin/pip3

Thanks! I guess you can close this off.

[2021-10-06 09:58] gerrydoro commented on #118
I had the same issue and running this command solved it. Thank you.

[2021-10-14 02:19] achillesrasquinha commented on #105
@sgreadly You're welcome. `pipupgrade` tends to do a lot of parallel processing for multiple pip versions within the system simultaneously, it's best to configure according to your needs.

[2021-10-14 02:19] #105 closed

[2021-10-16 01:13] roeravid opened #122 ""An error occured while performing the above command. This could be an issue with "pipupgrade".""
#### What's the bug all about?

i dont know enough to say, im sorry! if you contact me i can run through it with you and answer any questions you have as long as you help me find the info you need.

#### pipupgrade

*Please type the exact command that led to this issue.*

[code]

#### Logs

*Please paste the logs using `pipupgrade --verbose`*

[code]

thanks so much! what an awesome tool. I hope t

[2021-10-18 12:01] avatar-lavventura opened #123 "2021-10-18 14:59:41,897 | WARNING | Unable to save package name. UNIQUE constraint failed: tabPackage.name"
- `pipupgrade==1.10.1`
- Python 3.8.10
- linux

--------

I have having following output:

[code]

How could I fix this error?

[2021-10-19 14:58] #123 closed, assigned to achillesrasquinha

[2021-10-28 08:00] ghost opened #124 "[SSL: CERTIFICATE_VERIFY_FAILED]"
Hello,

Since I have update my Python version (from Python 3.9 to 3.10), I have the problem below (see between ###..). When I return to Python 3.9 everything works fine and I'm able to upgrade all my python's package.

Either i run the command "pipupgrade --verbose --latest" or just "pipupgrade" the problem is the same. My os is a "Mac OS X Big Sur v 11.6.1"

Let me know if you need more informati

[2021-10-31 15:29] #124 closed

[2021-10-31 15:31] achillesrasquinha commented on #121
Did you try again? Seems like a `requests` issue to me. Are you using a proxy by any chance?

[2021-11-05 09:52] 81Denton commented on #108
Possibly related: https://github.com/pygobject/pycairo/issues/89

[2021-11-18 21:53] #62 closed

[2021-11-19 06:01] chungonion commented on #122
Hi there, I also encountered a similar issue. The `/usr/local/bin/pip2 list --outdated --format json` command gives me the following error message
[code]

I am using macOS 12.0.1 . I guess there are some issue with pip2 and is there a way I could exclude pip2 during execution?

Thanks again, your work has benefit me a lot, and I appreciate that =]

[2021-11-23 10:29] matt32106 opened #125 "Command '/usr/local/bin/pip list --outdated --format json' returned non-zero exit status 1"
[code]

[2021-11-23 10:39] matt32106 commented on #125
This seems to fix something wrong in pip:
For pip2.7, you can at first
  `curl https://bootstrap.pypa.io/pip/2.7/get-pip.py -o get-pip.py`
then
`python2.7 get-pip.py --force-reinstall`
to reinstall pip.

[2021-11-23 17:42] crucio55 opened #126 "pipupgrade --check --format json and yaml crash"
#### What's the bug all about?

`pipupgrade --check --format {json,yaml}` crash, while the formats table and tree work fine

#### What command led to this issue?

[code]
and
[code]

#### Logs

[code]

[2021-12-01 16:45] shidevil commented on #67
Facing this same issue on the latest M1 mac.

[code]

[2021-12-01 16:48] shidevil commented on #67
verbose output

[code]

[2021-12-02 02:28] shidevil commented on #67
This fixes it.

[code]

[2021-12-04 10:36] Unrepentant-Atheist opened #128 "Pipupgrade can't upgrade itself"
### Description

Getting errors when running pipupgrade

### Screenshot

_No response_

### Console errors

[code]
[code]

[2021-12-04 17:14] achillesrasquinha commented on #128
@Unrepentant-Atheist could you show me the logs using `pipupgrade --verbose`?

[2021-12-07 10:33] arian-f commented on #35
the bug is still present, although the traceback is different now:

[code]

the issue is now in bpyutils, where in `bpyutils.util.system.popen`:

[code]
it's converted to single string for the shell without escaping spaces in the path

[2021-12-17 19:51] DonRichards opened #130 "First time ran after installing onto an Ubuntu machine"
### Description

Ran the following and hit an error when running for the first time. It looks like `apt install` isn't installing the required packages. After manually addressing this, I tried to run the command and got a bigger error.

[code]
Big Error in the Console Error section.

## Currently Versions
- Ubuntu 21.10
- Python 3.9.7
- pip 21.3.1 from /home/administrator/.local/lib/python3.9/site

[2022-01-03 18:31] ericdp commented on #128
same on MacOS  (12.1)

`$ pipupgrade
/usr/local/Cellar/python@3.9/3.9.9/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/_distutils_hack/__init__.py:35: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")
Checking...
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/usr/local/Cellar/python@3.9/3.

[2022-01-06 12:24] creyD opened #131 "Installation Link in Readme not working"
### Description

The installation link in the readme of this repository doesn't work anymore.

### Screenshot

_No response_

### Console errors

_No response_

[2022-01-06 12:37] creyD opened #132 "Check get's stuck"
### Description

On my Windows 10 21H2 with Python 3.10 machine `pipupgrade --check` gets stuck during the check and nothing happens. Other commands like `list ` work though. However `interactive` get's stuck too.

[code]

### Screenshot

_No response_

### Console errors

_No response_

[2022-01-11 08:57] Unrepentant-Atheist commented on #128
@achillesrasquinha  https://pastebin.com/xpEJD2Mp

[2022-01-13 10:06] q-wertz commented on #130
For me it worked after installing `bpyutils` but the behavior is strange…

The `--help` flag shows the help message of bpyutils
[code]

and `--version` returns `0.2.0` which is a quite old one

Upgrading
[code]

[2022-02-09 20:59] DonRichards commented on #130
Should probably add `bpyutils` as a dependency.

[2022-02-10 10:53] davidefortunatotecnos opened #133 "pipupgrade --requirements broken on windows"
### Description

Hello,
when i try to use pipupgrade with the --requirements param on Windows 10 (the same command works fine on Linux):

`pipupgrade --requirements requirements.txt
`

it raises the following errors:

[code]

### Screenshot

_No response_

### Console errors

_No response_

[2022-02-16 21:01] achillesrasquinha commented on #132
@creyD Could you try `pipupgrade --verbose` to see a robust output?

[2022-02-16 21:02] achillesrasquinha commented on #131
@creyD Could you mention which Installation Link?

[2022-02-16 21:03] #131 closed

[2022-02-16 21:04] achillesrasquinha commented on #130
This has recently been resolved in the latest release 1.12.0.

[2022-02-16 21:04] achillesrasquinha commented on #130
Please let me know if continues.

[2022-02-16 21:04] achillesrasquinha commented on #128
Please let me know if this persists in `pipupgrade version 1.12.0

[2022-02-21 21:15] DonRichards commented on #130
I can confirm it does work on Ubuntu now.

[2022-02-21 21:15] #130 closed

[2022-02-23 22:47] Unrepentant-Atheist commented on #128
Works fine now.

[2022-02-23 22:47] #128 closed

[2022-03-07 21:56] AA1999 opened #134 "bash: pipupgrade: command not found"
#### What's the bug all about?

[code]

#### What snippet/command led to this issue?

*Please type the exact snippet/command that led to this issue.*

[code]
Then used the comand above

#### Logs

*Please paste the logs using `pipupgrade --verbose`*

[code]

[2022-03-11 16:20] achillesrasquinha commented on #22
- [ ] TODO: Check issues with dependency cache.

[2022-03-11 16:21] achillesrasquinha commented on #134
Which pipupgrade version did you install?

[2022-03-11 16:22] achillesrasquinha commented on #134
I believe for some reason your system is unable to detect `bins` within your pip installs. Maybe missing path? Could you do `pip show pipupgrade`

[2022-03-11 20:14] achillesrasquinha commented on #133
This seems to be an issue with some new versions of pip. I believe they've changed the object type for the same.

[2022-03-11 21:13] achillesrasquinha commented on #108
This isn't able to be reproduced and a package dependent issue. Closing...

[2022-03-11 21:14] achillesrasquinha commented on #108
There is a flag called '--ignore-error' that can be used with pipupgrade in order to pass in case it fails to upgrade.

[2022-03-11 21:14] #108 closed

[2022-03-17 17:43] AA1999 commented on #134
I installed the latest version

And this is the result of that command:

[code]

[2022-03-18 17:15] walksonair commented on #26
Any updates on this issue? Am getting the following quite consistently now:

`"DATE" | ERROR | Error executing command /usr/local/bin/pip install pipupgrade --no-cache --upgrade: DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future.`

[2022-03-23 12:52] AA1999 commented on #134
I reinstalled my OS for another reason and pipupgrade now works.
The only issue is this:

`[arshia@arshia ~]$ pipupgrade --all
Checking...

concurrent.futures.process._RemoteTraceback:
"""
concurrent.futures.process._RemoteTraceback:
"""
Traceback (most recent call last):
  File "/usr/lib/python3.10/concurrent/futures/process.py", line 243, in _process_worker
    r = call_item.fn(*call_item.args,

[2022-03-25 00:17] achillesrasquinha commented on #134
You might have to provide me the entire log using `pipupgrade --verbose`

[2022-03-27 07:09] AA1999 commented on #134
[code]

[2022-03-28 19:09] achillesrasquinha commented on #134
In your new log, seems like everything ran smoothly. No?

[2022-03-30 15:47] achillesrasquinha commented on #26
Dear all, have you tried `pipupgrade --ignore-error`?

[2022-04-17 19:10] Habetdin commented on #107
I've got similar error on Windows:

[code]

As a workaround I've added quoting of the path (that contains spaces in this case) in the `call` function inside `_pip.py` file:

[code]

That fixed the issue for me.

@achillesrasquinha is that solution good enough for PR or should it be implemented in more elegant way?

[2022-04-19 14:41] achillesrasquinha commented on #107
@Habetdin please do go ahead with that PR.

[2022-05-02 04:22] achillesrasquinha commented on #22
Dear All,

This is in its final stages! The new dependency resolver within pipupgrade will attempt to ensure the most ideal latest version to be installed ensuring that it resolves well.

[2022-05-04 16:45] Selene29 commented on #132
I also encountered this problem:
The programm is just doing nothing.

`PS C:\Users\TestUser> pipupgrade --check -v --verbose
0.2.0
PS C:\Users\TestUser> pipupgrade --check --verbose
2022-05-04 18:43:16,728 | INFO | Environment: {'version': '0.2.0', 'python_version': '3.9.7', 'os': 'Windows-10-10.0.19044-SP0', 'config': {'path': {'BASE': 'C:\\Users\\TestUser\\AppData\\Roaming\\Python\\Python39\\sit

[2022-05-09 07:13] Inlife-raphael opened #136 "Doesn't update"
#### What's the bug all about?

When I re-launch the command pipupgrade, I still have the updates to do.

It may be because it upgrades in local while it wants to upgrade global.

It may have a link with `default to user installation because normal site-packages is not writeable`.

#### What snippet/command led to this issue?

Default pipupgrade

[code]

#### Logs

[code]

#### Setup

I use Artix

[2022-05-12 10:48] Selene29 opened #137 "pipupgrade getting stuck on Windows 10"
#### Description
https://github.com/achillesrasquinha/pipupgrade/issues/132#issue-1095281395
--> pipupgrade getting stuck on Windows 10
I also encountered this problem:
Terminal was also running in admin mode.
The programm is just doing nothing.

Uninstalling and reinstalling changes nothing.

#### Logs

[2022-05-22 06:04] Inlife-raphael commented on #136
I changed the permissions of site-packages. **The issue probably came from the fact that the required updates were detected in sites-packages but wasn't doable because of permissions.**

After that I got an huge with huge logs. There was an issue with `chmod` also so I tried to run `pipupgrade` as root. But as I thought, it's not recommend for the file permissions.

The second time it asked for up

[2022-06-21 14:54] linuxrebel opened #138 "Issue with upgrade of PyGObject module"
#### What's the bug all about?

Error reported running pipupgrade on this module

#### What snippet/command led to this issue?

pipupgrade --verbose --latest --yes

#### Logs

*Please paste the logs using `pipupgrade --verbose`*

[code]

[2022-07-24 18:12] staticf0x opened #139 "JSONDecodeError when checking for upgrades"
### Description

Running `pipupgrade -c -l -u --pip-path ~/.local/bin/pip3` and I got this error:

[code]

[2022-07-25 13:16] bonkey commented on #139
I experienced the same. I found out that running:

[code]

returned

[code]

So, I did run `python3.9 -m pip install --upgrade pip` and no more errors, but I guess only because `/opt/homebrew/bin/pip list --outdated --format json` returns empty array (`[]`).

Perhaps the issue is with extra notice text:

[code]

Which is not parseable JSON but is presented on stdout?

[2022-07-26 12:34] staticf0x commented on #139
The place to start would be here: https://github.com/achillesrasquinha/pipupgrade/blob/8260e4969d46575613c48f594d17ed93997cfa8f/src/pipupgrade/commands/helper.py#L319 I think

If I have some time this week I can investigate it a bit more.

[2022-08-12 13:39] AA1999 opened #140 "cannot import name 'Version' from 'semver'"
### Description

The issue happens when doing a fresh install of pipupgrade and then running `pipupgrade -V --resolve` it first asked for mixology to be installed:

[code]
After doing so I get that error which is shown in console errors.

### Screenshot

![image](https://user-images.githubusercontent.com/14325650/184365099-f1e8082f-9276-4665-a542-eabc1d9b497f.png)
![image](https://user-images.gith

[2022-08-12 13:45] AA1999 commented on #134
It seems so, ty for the response.
Sorry for the very late noticing.

[2022-08-12 13:45] #134 closed

[2022-08-29 11:51] lukasz-mitka opened #141 "Doesn't work on WSL"
### Description

Can't even start `pipupgrade` on WSL2 due to missing `tkinter`. Which is kind of weird for CLI tool.
pipupgrade version: `1.12.0`

### Screenshot

_No response_

### Console errors

[code]

[2022-08-30 01:30] mrichman opened #142 "ModuleNotFoundError: No module named '_tkinter'"
### Description

`pipupgrade` fails on macOS Monterey 12.5.1 with Python 3.10.6. Python is installed via `brew install python@3.10`:

[code]

### Screenshot

_No response_

### Console errors

_No response_

[2022-08-30 01:32] mrichman commented on #142
Disregard. Solved via `brew install python-tk@3.10`. Tkinter is no longer included with the homebrew formula for Python 3.10.

[2022-08-30 01:32] #142 closed

[2022-08-31 02:24] achillesrasquinha commented on #141
@lukasz-mitka Thanks for reporting. This seems to be a minor error in https://github.com/achillesrasquinha/bpyutils.git
I've fixed and released this on the latest version.

You might have to update bpyutils to its latest.

[code]

After which it should work.

[2022-08-31 05:09] lukasz-mitka commented on #141
Thank you, I can run it now!
Still getting some errors but they look unrelated. Closing.

[2022-08-31 05:09] #141 closed

[2022-09-08 10:37] baterflyrity commented on #137
Also faced this issue.

Relatted information is in #30. Seems like this bug has not been fixed yet (since 2019!).

[2022-09-08 10:39] baterflyrity commented on #30
This bug has not been resolved. The problem is still presented in lates Windows+Python environment.

[2022-09-08 10:40] baterflyrity commented on #137
To be clearer the underlying command `pip list --outdated --format json` works fine and does not stuck at all.

[2022-09-13 12:12] stunko opened #143 "pipupgrade --requirements broken on pyenv virtualenv"
#### What's the bug all about?

python 3.8.6
pyenv virtualenv

pyenv which pip
/Users/stunko/.pyenv/versions/bumpr/bin/pip

pyenv which python
/Users/stunko/.pyenv/versions/bumpr/bin/python

#### What snippet/command led to this issue?

*Please type the exact snippet/command that led to this issue.*

[code]

#### Logs

*Please paste the logs using `pipupgrade --verbose`*

[code]

[2022-09-27 10:23] musab-mahad opened #144 "Max retries exceeded with url: /pypi/Pillow/json (Caused by None)"
### Description

requests.exceptions.ConnectTimeout: None: Max retries exceeded with url: /pypi/Pillow/json (Caused by None)

### Screenshot

![Screen Shot 2022-09-27 at 1 23 19 PM](https://user-images.githubusercontent.com/47938328/192501462-4d969a52-adf5-4d7c-87b2-5d1f1154b66c.png)

### Console errors

_No response_

[2022-11-24 00:38] mrichman commented on #102
This happens every time I run the command after deleting `~/.config/pipupgrade`.